{% extends "app.twig" %}

{% block content %}
    


<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
       <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
        
        <h3 class="kt-subheader__title">Create Campaign</h3>     
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">{{ details.acc_name }} </span>        
        
    </div>
  
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
        
            <!--begin:Back to campaigns -->
            <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/campaigns/draft"><i class="la la-angle-left"></i>Back to Campaigns</a>
            <!--end:Back to campaigns -->
           
           </div>
       </div>   
</div>
<!-- end:: Content Head -->		
	<!-- begin:: Content -->
 


<div class="kt-content kt-grid__item kt-grid__item--fluid">
		      
    <!--Begin::App-->
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
        <!--Begin:: App Aside Mobile Toggle-->
        <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
            <i class="la la-close"></i>
        </button>
        <!--End:: App Aside Mobile Toggle-->

        <!--Begin:: App Content-->
        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">

                <!-- begin:: warnings  -->
                            <div class="alert alert-danger fade {{campaign.error|length ? "show" : "kt-hide"}}" role="alert">
                                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                <div class="alert-text">{{campaign.error}}</div>
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>
                            </div>
                 <!-- end:: warnings -->  
                            
    
                    
                <!--begin:alert -->
                            <div class="alert alert-light alert-elevate fade {{campaign.success|length? "show" : "kt-hide"}}" role="alert">
                                <div class="alert-icon"><i class="far fa-check-square"></i></div>
                                <div class="alert-text">{{campaign.success}}</div>
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>
                            </div>
                <!--end:alert -->


            <!--end:alert -->           
            <div class="row">
                <div class="col-xl-12">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">New Campaign for {{campaign.account}}</h3>
                            </div>
                        
                        </div>

                        <form class="kt-form kt-form--label-right" method="post">
                            <div class="kt-portlet__body">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">
                                        
                                        
                                        <div class="row">
                                            <label class="col-xl-3"></label>
                                            <div class="col-lg-9 col-xl-6">
                                               
                                            </div>
                                        </div>
                           
                                        
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Campaign Name</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input class="form-control" id="name1" value="{{campaign.camp_name ? campaign.camp_name : ''}}" name="camp_name" type="text" required/>
                                            </div>
                                        </div>
                                                
                                        
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Comment</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input class="form-control" id="email" value="{{campaign.comp_comment ? campaign.comp_comment : ''}}" name="comp_comment" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="kt-portlet__foot">
                                <div class="kt-form__actions">
                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3">
                                        </div>
                                        <div class="col-lg-9 col-xl-9">
                                            <button  name="submit" type="submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>  
            </div>           
        </div>
        <!--End:: App Content-->
    </div>
    <!--End::App-->
</div>
<!-- end:: Content -->















{# 
<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        
        <h3 class="kt-subheader__title">Create a new campaign</h3>
        
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        
        <span class="kt-subheader__desc">treaction ag</span>
        
        <!--
        <a href="#" class="btn btn-label-primary btn-bold btn-icon-h kt-margin-l-10">
			Add New
		</a>
        -->
        
    </div>
    

                <!--end::sub-control menu-->
            </div>
            <!-- end:: Content Head -->	

          




    


            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">    
                            <div class="card-body">
                                <form method="post" >
                                    <div class="form-group ">
                                        <label class="cio-form-labels requiredField" for="camp_name">
                                            Campaign Name
                                            <span class="asteriskField">
                                                *
                                            </span>
                                        </label>
                                        <input class="form-control" id="name1" value="{{campaign.camp_name ? campaign.camp_name : ''}}" name="camp_name" type="text" required/>
                                    </div>
                                    <!--div class="form-group ">
                                        <label class="control-label requiredField" for="camp_url">
                                            URL
                                            <span class="asteriskField">
                                                *
                                            </span>
                                        </label>
                                        <input class="form-control" id="name2" value="{{campaign.camp_url ? campaign.camp_url : ''}}" name="camp_url" type="text" required/>
                                    </div-->
                                    <div class="form-group ">
                                        <label class="cio-form-labels requiredField" for="comp_comment">
                                            Comment
                                            <span class="asteriskField">
                                                *
                                            </span>
                                        </label>
                                        <input class="form-control" id="email" value="{{campaign.comp_comment ? campaign.comp_comment : ''}}" name="comp_comment" type="text" required/>
                                    </div>    
                                    <br>
                                    <div class="form-group">
                                        <div>
                                             <!--begin:create new campaign -->
                                                <button class="btn btn-brand btn-elevate btn-icon-sm" type="submit"><i class="la la-plus"></i>&nbsp;Create campaign</button>
                                                <!--end:create new campaign -->
                                        </div>
                                    </div>
                                    {% if campaign.error %}
                                        <div class="alert alert-primary login-alert" role="alert" style="color:#721c24; background-color: #f8d7da">{{campaign.error}}</div>
                                    {% endif %}       
                                </form>  
                            </div>  
                        </div>       
                    </div>   
                </div>
</div> #}


{% endblock %}    
