{% extends "app.twig" %}

{% block content %}



<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
       <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
        
        <h3 class="kt-subheader__title">Account Registration</h3>
        
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        
        <span class="kt-subheader__desc">{{ usr_signup.acc_name }} </span>
        
    </div>
  
</div>
<!-- end:: Content Head -->		
	<!-- begin:: Content -->
 


<div class="kt-content kt-grid__item kt-grid__item--fluid">
		      
    <!--Begin::App-->
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
        <!--Begin:: App Aside Mobile Toggle-->
        <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
            <i class="la la-close"></i>
        </button>
        <!--End:: App Aside Mobile Toggle-->

        <!--Begin:: App Content-->
        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">

            {% if usr_signup.error_password_policy | length  %}
            <!--begin:Password Policy Alert -->
            <div class="alert alert-danger alert-elevate fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <label class="col-xl-3 col-lg-3 col-form-label">Given password doesnot match with <b>Password policy</b></label>
                        <div class="col-lg-9 col-xl-6">
                            <ul>
                                <li>Should have minimum <i>8 characters </i></li>
                                <li>Include <i>capital Letters</i></li>
                                <li>Include have <i>number</i></li>
                                <li>Include have <i>special character</i></li>
                            </ul>                                                   
                        </div> 
                </div>                                        
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
            {% endif %}


                <!-- begin:: warnings  -->
                            <div class="alert alert-danger fade {{usr_signup.error|length ? "show" : "kt-hide"}}" role="alert">
                                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                <div class="alert-text">{{usr_signup.error}}</div>
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>
                            </div>
                 <!-- end:: warnings -->  
                            
    
                    
                <!--begin:alert -->
                            <div class="alert alert-light alert-elevate fade {{usr_signup.success|length? "show" : "kt-hide"}}" role="alert">
                                <div class="alert-icon"><i class="far fa-check-square"></i></div>
                                <div class="alert-text">{{usr_signup.success}}</div>
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>
                            </div>
                <!--end:alert -->            


            <!--end:alert -->           
            <div class="row">
                <div class="col-xl-12">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Create your account</h3>
                            </div>
                        
                        </div>

                        <form class="kt-form kt-form--label-right" method="post">
                            <div class="kt-portlet__body">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">
                                        
                                        
                                        <div class="row">
                                            <label class="col-xl-3"></label>
                                            <div class="col-lg-9 col-xl-6">
                                               
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Salutation</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <select class="form-control" id="name3" name="salutation">
                                                    <option class="select-option" value="Mr">Mr</option>
                                                    <option class="select-option" value="Mrs">Mrs</option>
                                                </select>
                                            </div>
                                        </div>                                    
                                        
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">First Name</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input class="form-control" value="{{usr_signup.first_name}}" name="first_name" type="text">
                                            </div>
                                        </div>
                                                
                                        
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Last Name</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input class="form-control"value="{{usr_signup.last_name}}" name="last_name" type="text">
                                            </div>
                                        </div>
                                    
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text">@</span></div>
                                                    <input class="form-control" value="{{usr_signup.email}}"  name="email" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Password</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input class="form-control" value="" name="password" type="password">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Confirm Password</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input class="form-control" value="" name="password" type="password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="kt-portlet__foot">
                                <div class="kt-form__actions">
                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3">
                                        </div>
                                        <div class="col-lg-9 col-xl-9">
                                            <button  name="submit" type="submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>  
            </div>           
        </div>
        <!--End:: App Content-->
    </div>
    <!--End::App-->
</div>
<!-- end:: Content -->

















    {# <div class="bootstrap-iso">
        <div class="col-md-12"> 
            <h2 class="page-title">Registration</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <form method="post" action ="{{ path_for('user.signup')}}">
                            <div class="form-group ">
                                <label class="control-label " for="salutation">
                                    Salutation
                                </label>
                                <select class="form-control" id="name3" name="salutation">
                                    <option class="select-option" value="Mr">Mr</option>
                                    <option class="select-option" value="Mrs">Mrs</option>
                                </select>
                            </div>
                            <div class="form-group ">
                                <label class="control-label requiredField" for="first_name">
                                    First Name
                                    <span class="asteriskField">
                                        *
                                    </span>
                                </label>
                                <input class="form-control" id="name1" value="{{signup.first_name ? signup.first_name : ''}}" name="first_name" type="text" required/>
                            </div>
                            <div class="form-group ">
                                <label class="control-label requiredField" for="last_name">
                                    Last Name
                                    <span class="asteriskField">
                                        *
                                    </span>
                                </label>
                                <input class="form-control" id="name2" value="{{signup.last_name ? signup.last_name : ''}}" name="last_name" type="text" required/>
                            </div>
                            <div class="form-group ">
                                <label class="control-label requiredField" for="email">
                                    Email
                                    <span class="asteriskField">
                                        *
                                    </span>
                                </label>
                                <input class="form-control" id="email" value="{{signup.email ? signup.email : ' '}}" name="email" type="text" required/>
                            </div>
                            <div class="form-group ">
                                <label class="control-label " for="password">
                                    Password
                                </label>
                                <input class="form-control" id="text3"  name="password" type="password" required/>
                               
                            </div>
                            <div class="form-group ">
                                <label class="control-label " for="password">
                                    Confirm Password
                                </label>
                                <input class="form-control" id="text3" name="password" type="password" required/>
                                <span class="help-block" style="color:red">{{errors.password}}</span>
                            </div>                            
                            <div class="form-group">
                                <div>
                                    <button class="btn btn-primary " name="submit" type="submit">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="container">
                            <p><b>Password Policy</b></p>
                            <ul>
                                <li>Should have minimum 8 characters </li>
                                <li>Include capital Letters</li>
                                <li>Include have Number</li>
                                <li>Include have special character</li>

                            </ul>
                        </div>
                    </div>       
                </div>
            </div>
        </div> 

    </div> #}

{% endblock %} 