{% extends "app.twig" %}

{% block content %}

    
    <style>

        .cio-form-labels
        {

            color:#bdbebe;
            font-size:11px; 
            text-transform: uppercase; 
            font-weight: 800; 
            letter-spacing: 2px;  

        }

    </style>    

    <div class="content__inner" id="full-width-container">

        <header class="content__title text-center">
            <h1>Tracking</h1>
            <small>List of all leads for the Campaign</small>
        </header> 
  
        <div class="card">
            <div class="tab-container">  
                <ul class="nav nav-tabs nav-fill">    
                    <li class="nav-item ">
                        {% if survey|length > 0 %}
                            {% set tracking_url = "https://campaign-in-one.net/account/#{survey.acc_id}/campaigns/#{survey.camp_id}/tracking"%}
                            {% set setting_url = "https://campaign-in-one.net/account/#{survey.acc_id}/campaigns/#{survey.camp_id}/tracking"%}
                        {% endif %}  
                        <a class="nav-link  " href="{{tracking_url}}">Tracking</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active" href="#">Integrations</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{{setting_url}}">Settings_test</a>
                    </li>
                </ul>                
            </div>

            <div class="card-body">     
                <div class="row stats">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body"> 
                                <ul class="navigation">        
                                    <li class="navigation__sub">
                                        <a href="">Survey <i class="fas fa-caret-down"></i></a>
                                    </li>                                  
                                </ul>
                            </div> 
                        </div>    
                    </div>
                    <div class="col-sm-9">
                        <form method="post" enctype="multipart/form-data">
                            <div id="survey">
                                    {% set i = 1 %}
                                    {% for s in survey.details %}        
                                    {{s.options}}     
                                    <!--  Question Number 1  -->
                                    <div class="card survey_card">                           
                                        <div class="card-body"> 
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="col-md-9 ">
                                                        <input type="text" class="form-control input-sm" value ="{{s.question}}" name="survey[{{i}}][question][text]" placeholder="Question" required>
                                                        <i class="form-group__bar"></i>
                                                        <input type="text" class="form-control input-sm" value ="{{s.id}}" name="survey[{{i}}][question][id]" placeholder="Question Id" required hidden>
                                                    </div>
                                                    <div class="col-md-3 ">
                                                        <select  class="select2 form-control select_question_type"  name="survey[{{i}}][question][type]" id="select_question_type" style="width:100%;">
                                                            <option value="#" selected disabled>Select Question Type</option>
                                                            <option value="multiple_choice" {{ s.question_type == "multiple_choice" ? 'selected ' : 'disabled' }} >Multiple Choice</option>
                                                            <option value="single_choice" {{ s.question_type == "single_choice" ? 'selected' : 'disabled' }} >Dropdown</option>
                                                            <option value="slider" {{ s.question_type == "slider" ? 'selected' : 'disabled' }} >Slider</option>
                                                            <option value="inputfield"  {{ s.question_type == "inputfield" ? 'selected' : 'disabled' }} >Single Textbox</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input type="text" class="form-control"  value ="{{s.hint}}" name="survey[{{i}}][question][hint]" placeholder="Hint">
                                                <i class="form-group__bar"></i>
                                            </div>                  
                                            <!--Answer for Input field-->
                                            <div class="form-group {{ s.question_type == 'inputfield'? 'show-answerfield' : 'answerfield' }}" id="answer_input_field">
                                                <input type="text" class="form-control" value ="{{ s.question_type == "inputfield"? s.value : '' }}"  name="survey[{{i}}][answer][input_field][value]" placeholder="Answer">
                                                <i class="form-group__bar"></i>
                                                <input type="text" class="form-control" value ="{{ s.answer_options_id > 0 ? s.answer_options_id : '' }}"  name="survey[{{i}}][answer][input_field][id]" placeholder="Answer" hidden>

                                            </div>             

                                            <!--Answer for Single choice-->
                                            <div class="form-group {{ s.question_type == 'single_choice'? 'show-answerfield' : 'answerfield' }}" id="answer_single_choice_{{i}}">     
                                                {% set opt_id = 1 %}
                                                {% for option in s.single_options %}                                                   
                                                <div class="form-group">
                                                    <div class="form-row">
                                                        <div class="col-md-6">                                                
                                                            <input type="text" class="form-control single_choice_option" value ="{{option.value}}"  id="single_choice_option_1" name="survey[{{i}}][answer][dropdown][options][{{opt_id}}][value]" placeholder="Options for Dropdown">
                                                            <i class="form-group__bar"></i>  
                                                            
                                                            <input type="text" class="form-control" value ="{{ option.id > 0 ? option.id : '' }}"  name="survey[{{i}}][answer][dropdown][options][{{opt_id}}][id]" placeholder="Answer" hidden > 
                                                             <br>
                                                            <input type="hidden" name="MAX_FILE_SIZE" value="1000000"/>
                                                            <input type="file" value="{{ option.link_ref|length >0 ? option.link_ref : '' }}" name="survey[{{i}}][answer][dropdown][options][{{opt_id}}][link_ref]" accept="image/*" /> 
                                                        </div>

                                                        <!--Radio button for Right button-->
                                                        <div class="col-sm-4 d-flex justify-content-around"> 
                                                            <label class="custom-control custom-radio">
                                                                <input type="radio" name="survey[{{i}}][answer][dropdown][options][{{opt_id}}][status]" value="WAHR" class="custom-control-input" {{option.status == "WAHR" ? "checked" : "" }}>
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Right</span>
                                                            </label>    
                                                                
                                                            <!--Radio button for Wrong button-->
                                                            <label class="custom-control custom-radio">
                                                                <input type="radio" name="survey[{{i}}][answer][dropdown][options][{{opt_id}}][status]"  value="FALSCH" class="custom-control-input" {{option.status == "FALSCH" ? "checked" : "" }}>
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Wrong</span>
                                                            </label>	
                                                        </div>
                                                        <div class="col-sm-2">
                                                            {% if opt_id == 1%}
                                                                <button class="btn btn-light float-right add_option" id="addoption_{{i}}"  name="survey[{{i}}][answer][dropdown][add_option]" type="button" id="add_option"> + Add Option</button> 
                                                            {% endif %}                                                            
                                                        </div>
                                                    </div>    
                                                </div> 
                                                {% set opt_id = opt_id  + 1 %}        
                                                {% endfor %}
                                            </div> 

                                            <!--Answer for Multiple choice-->
                                            <div class="form-group {{ s.question_type == 'multiple_choice'? 'show-answerfield' : 'answerfield' }}" id="answer_multiple_choice_{{i}}">
                                                {% set opt_id = 1 %}
                                               
                                                {% for option in s.multiple_options %} 
                                             
                                                <div class="form-group">
                                                    <div class="form-row">
                                                        <div class="col-sm-6 "> 
                                                           {{option.answer_option_id}}
                                                            <input type="text" class="form-control multiple_choice_option" value="{{option.value}}"  id="multiple_choice_option_{{opt_id}}" name="survey[{{i}}][answer][multiple_choice][options][{{opt_id}}][value]" placeholder="Options for Multiple Choice">
                                                                <i class="form-group__bar"></i>
                                                             <input type="text" class="form-control" value ="{{ option.id > 0 ? option.id : '' }}"  name="survey[{{i}}][answer][multiple_choice][options][{{opt_id}}][id]" placeholder="Answer" hidden> 
                                                             <br>
                                                             <input type="hidden" name="MAX_FILE_SIZE" value="1000000"/>
                                                             <input type="file" value="{{ option.link_ref|length >0 ? option.link_ref : '' }}" name="survey[{{i}}][answer][multiple_choice][options][{{opt_id}}][link_ref]" accept="image/*" /> 
                                                        </div> 

                                                        <!--Radio button for Right button-->
                                                        <div class="col-sm-4 d-flex justify-content-around"> 
                                                            <label class="custom-control custom-radio">
                                                                <input type="radio" name="survey[{{i}}][answer][multiple_choice][options][{{opt_id}}][status]" value="WAHR" class="custom-control-input" {{option.status == "WAHR" ? "checked" : "" }}>
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Right</span>
                                                            </label>    
                                                            <!--Radio button for Wrong button-->
                                                            <label class="custom-control custom-radio">
                                                                <input type="radio" name="survey[{{i}}][answer][multiple_choice][options][{{opt_id}}][status]" value="FALSCH" class="custom-control-input" {{option.status == "FALSCH" ? "checked" : "" }}>
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Wrong</span>
                                                            </label>	
                                                         </div>      
                                                        <div class="col-sm-2"> 
                                                            {% if opt_id == 1%}
                                                            <button class="btn btn-light float-right add_multiple_choice"  id="addmultiplechoice_{{i}}"name="multiple_choice_option" type="button" id="add_option"> + Add Option</button>              
                                                            {% endif %}
                                                        </div>
                                                    </div>                                                     
                                                </div>
                                                {% set opt_id = opt_id  + 1 %}        
                                                {% endfor %}               
                                            </div>                                     

                                            <!--Answer for Slider-->
                                            <div class="form-group {{ s.question_type == 'slider'? 'show-answerfield' : 'answerfield' }}" id="answer_slider">
                                                <div class="form-row">
                                                {% if (s.question_type == "slider") %}    
                                                    {% set opt_id = 1 %}
                                                    {% set slid = { } %}
                                                    {% set temp_1 = '' %} 
                                                    {% set temp_1_id = '' %}
                                                    {% set temp_2 = '' %}        
                                                    {% set temp_2_id = '' %}
                                                    
                                                    {% for option in s.slider %}   

                                                        {% if option.status == "WAHR" %}
                                                            {% set slid = slid|merge({ "value" : option.value}) %}
                                                            {% set slid = slid|merge({ "value_id" : option.id}) %}
                                                        {% elseif option.status == "FALSCH" and temp_1 | length > 0%}
                                                            {% set temp_2 = option.value %}
                                                            {% set temp_2_id = option.id %}
                                                        {% else %}
                                                            {% set temp_1 = option.value %}
                                                            {% set temp_1_id = option.id %}
                                                        {% endif %}    
                                                        {# Compare two values for minimum and maximum   #}
                                                        {% if temp_1 | length > 0 and temp_2 | length > 0 and slid.value | length > 0 %}
                                                            {% if temp_1 < temp_2 and temp_1 < slid.value %}
                                                                {% set slid = slid|merge({ "minvalue" : temp_1 }) %} 
                                                                {% set slid = slid|merge({ "minvalue_id" : temp_1_id }) %} 
                                                                {% set slid = slid|merge({ "maxvalue" : temp_2 }) %} 
                                                                {% set slid = slid|merge({ "maxvalue_id" : temp_2_id }) %} 
                                                            {% else %}    
                                                                {% set slid = slid|merge({ "minvalue" : temp_2 }) %}
                                                                {% set slid = slid|merge({ "minvalue_id" : temp_2_id }) %} 
                                                                {% set slid = slid|merge({ "maxvalue" : temp_1 }) %}       
                                                                {% set slid = slid|merge({ "maxvalue_id" : temp_1_id }) %} 
                                                            {% endif %}    
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}     
                                                    <div class="col-md-4 ">
                                                        
                                                        <input type="text" class="form-control" name="survey[{{i}}][answer][slider][options][1][value]" value="{{slid.minvalue}}" placeholder="Slider Minimum Value" >
                                                        <i class="form-group__bar"></i>
                                                        <input type="text" class="form-control" value ="{{ slid.minvalue_id }}"  name="survey[{{i}}][answer][slider][options][1][id]" placeholder="Answer" hidden> 
                                                        <input type="text" class="form-control" value ="FALSCH"  name="survey[{{i}}][answer][slider][options][1][status]" placeholder="Answer" hidden>
                                                    </div>    
                                                    <div class="col-md-4 ">

                                                        <input type="text" class="form-control" name="survey[{{i}}][answer][slider][options][2][value]" value ="{{slid.maxvalue}}"  placeholder="Slider Maximum Value" >
                                                        <i class="form-group__bar"></i>
                                                        <input type="text" class="form-control" value ="{{ slid.maxvalue_id }}"  name="survey[{{i}}][answer][slider][options][2][id]" placeholder="Answer" hidden> 
                                                        <input type="text" class="form-control" value ="FALSCH"  name="survey[{{i}}][answer][slider][options][2][status]" placeholder="Answer" hidden>
                                                    </div>    
                                                    <div class="col-md-4 ">

                                                        <input type="text" class="form-control" name="survey[{{i}}][answer][slider][options][3][value]" value ="{{ slid.value }}" placeholder="Correct Value" >
                                                        <i class="form-group__bar"></i>
                                                        <input type="text" class="form-control" value ="{{ slid.value_id }}"  name="survey[{{i}}][answer][slider][options][3][id]" placeholder="Answer" hidden> 
                                                        <input type="text" class="form-control" value ="WAHR"  name="survey[{{i}}][answer][slider][options][3][status]" placeholder="Answer" hidden> 
                                                    </div>                                                
                                                </div>    
                                            </div>
                                        </div>
                                    </div> 
                                    {% set i = i + 1 %}
                                {% endfor %}                                    
                            </div>       

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-12 ">
                                        <div class="col-auto float-right">
                                        <button class="btn btn-light " name="submit" type="submit">Save</button> 
                                        </div>
                                         <div class="col-auto float-left">
                                         <a href="https://dev-campaign-in-one.net/account/{{survey.acc_id}}/campaigns/{{survey.camp_id}}/survey"><button class="btn btn-light float-right add_option" type="button" id="add_option">  &#x2190; &nbsp; Back</button></a>
                                         </div>
                                    </div>
                                    <!--div class="col-md-6 float-right">
                                        <button class="btn btn-light float-right" name="add_question" type="button" id="add_question"> + Add Question</button> 
                                    </div-->
                                </div>
                            </div>
                        </form>    
                    </div>
                </div>     
            </div> 
        </div>   
    </div>    



{% endblock %}          

{% block javascripts %}    
<script type="text/javascript">

        $(document).ready(function () {

        console.log("Test");
        // Initiate Dropzone JS
        if($('#dropzone-upload')[0]) {
            $('#dropzone-upload').dropzone({
                url: "/file/post",
                addRemoveLinks: true
            });
        }
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        
        // Hide all theAnswer field
        $('.answerfield').hide();
        
        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // Recursive function for check the div existence
        function checkdiv(div_id, i){
            
            i = i+1;
            console.log(div_id + i);
            console.log($(div_id + i).length)
            // Check the existence of div
            if($(div_id + i).length != 0){
                // Call the function if the div exists
                
                checkdiv(div_id, i);
            }else {
                // Return the div name if not exists
                return i;    
            }
        }
        
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        
        //Add option to Dropdown 
        $('button.add_option').click(function(){
            
            var button_id = $(this).attr('id');
            var survey_id = button_id.split('_')[1];
            var count = $('input.single_choice_option').length;
            var class_id = checkdiv("single_choice_option_", count);          
            var option =    '<div class="form-group"><div class="row">'+
                                '<div class="col-md-9">'+
                                    '<input type="text" class="form-control single_choice_option" id="single_choice_option_'+class_id+'" name="survey['+survey_id+'][answer][dropdown][options]['+class_id+'][value]" placeholder="Option for Dropdown">' +
                                    '<i class="form-group__bar"></i>'+
                                    '<br>' +
                                    '<input type="hidden" name="MAX_FILE_SIZE" value="1000000"/>' +
                                    '<input type="file" name="survey[' +survey_id+ '][answer][dropdown][options]['+class_id+'][link_ref]" accept="image/*" />' +         
                                '</div>'+
                                '<div class="col-md-3 d-flex justify-content-around">'+
                                    '<label class="custom-control custom-radio">'+
                                        '<input type="radio" name="survey[' +survey_id+ '][answer][dropdown][options]['+class_id+'][status]" value="WAHR" class="custom-control-input">' +
                                        '<span class="custom-control-indicator"></span>'+
                                        '<span class="custom-control-description">Right</span>'+
                                    '</label>' +   
                                    '<label class="custom-control custom-radio">'+
                                        '<input type="radio" name="survey[' +survey_id+ '][answer][dropdown][options]['+class_id+'][status]" value="FALSCH" class="custom-control-input">' +
                                        '<span class="custom-control-indicator"></span>'+
                                        '<span class="custom-control-description">Wrong</span>'+
                                    '</label>' +                                   
                                '</div></div>' +
                            '</div>';
                         
                   
            // Append new question 
            $("div#answer_single_choice_"+survey_id).append(option);        
        });
        

        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        
        //Add option to Multiple choice 
        $('button.add_multiple_choice').click(function(){

            var button_id = $(this).attr('id');
            console.log("Button Id",  button_id);
            var survey_id = button_id.split('_')[1];
            console.log("Button Id",  survey_id);
            var count = $('input.multiple_choice_option').length;
            var class_id = checkdiv("multiple_choice_option_", count);         
            var option =    '<div class="form-group">'+
                                '<div class="row">'+
                                    '<div class="col-md-9">'+
                                        '<input type="text" class="form-control multiple_choice_option" id="multiple_choice_option_'+survey_id+'" name="survey['+survey_id+'][answer][multiple_choice][options]['+class_id+'][value]" placeholder="Option for Multiple choice">' +
                                        '<i class="form-group__bar"></i>' +
                                        '<br>' +
                                        '<input type="hidden" name="MAX_FILE_SIZE" value="1000000"/>' +
                                        '<input type="file" name="survey[' +survey_id+ '][answer][multiple_choice][options]['+class_id+'][link_ref]" accept="image/*" />' +                                         
                                    '</div>'+	
                                    '<div class="col-md-3 d-flex justify-content-around">'+
                                        '<label class="custom-control custom-radio">'+
                                            '<input type="radio" name="survey[' +survey_id+ '][answer][multiple_choice][options]['+class_id+'][status]" value="WAHR" class="custom-control-input">' +
                                            '<span class="custom-control-indicator"></span>'+
                                            '<span class="custom-control-description">Right</span>'+
                                        '</label>' +   
                                        '<label class="custom-control custom-radio">'+
                                            '<input type="radio" name="survey[' +survey_id+ '][answer][multiple_choice][options]['+class_id+'][status]" value="FALSCH" class="custom-control-input">' +
                                            '<span class="custom-control-indicator"></span>'+
                                            '<span class="custom-control-description">Wrong</span>'+
                                        '</label>' +                                   
                                    '</div>' +	
                                '</div>' +				
                            '</div>';
                         
                   
            // Append new question 
            $("div#answer_multiple_choice_"+survey_id).append(option);        
        });        
        
        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        
        // Add Question
        $("button#add_question").click(function(){

            var count = $("div.survey_card").length;                  
            var i = checkdiv("survey_card_", count); 
                                    
            var survey_card = '<div class="card survey_card survey_card_' + i + '" id="survey_card_' + i + '">' + '<div class="card-body">' +
        '<div class="form-group">' +
        '<div class="form-row">' +
                '<div class="col-md-9 ">' +
                '<input type="text" class="form-control input-sm" name="survey[' + i + '][question][text]" placeholder="Question" required>' +
                '<i class="form-grou p __bar"></i> ' +
                '</div>' +
                '<div class="col-md-3 ">' +
                '<select class="form-control survey[' + i + '][question][type]" name="survey[' + i + '][question][type]" id="select_question_type_' + i + '"style="width:100%;">' +
                '<option value="#" selected disabled>Select Question Type</option>' +
                '<option value="multiple_choice">Multiple Choice</option>' +
                '<option value="single_choice">Dropdown</option>' +
                '<option value="slider">Slider</option>' +
                '<option value="inputfield"> Single Text box</option>' +
                '</select>' +                     '</div>' +
                '</div>' +
                '</div>' +
                '<div class="form-group">' +
                '<input type="text" class="form-control" name="survey[' + i + '][question][hint]" placeholder="Hint">' +
                '<i class="form-group__bar"></i>' +
                '</div> ' +
                '<!--Answer for Input field-->' +
                '<div class="form-group answerfield" id="answer_input_field_' + i + '">' +
                '<input type="text" class= "form-control" name="survey[' + i + '][answer][input_field]" placeholder="Answer">' +
                '<i class="form-group__bar"></i>' +
                '</div>' +
                
                '<!--Answer for Single choice-->' +
                '<div class="form-group answerfield" id="answer_single_choice_' + i + '">' +
                '	<!--div class="form-group">' +
                '		<input type="text" class="form-control" name="survey[' + i + '][answer][dropdown][answer]" placeholder="Single Choice Answer">' +
                '		<i class="form-group__bar"></i>' +
                ' 	</div-->' +
                '	<div class="form-group">' +
                '		<div class="form-row">'+
                '			<div class="col-md-6">'+ 				
                '				<input type="text" class="form-control single_choice_' + i +'_option" id="single_choice_option_' + i + '" name="survey[' + i + '][answer][dropdown][options][1][value]" placeholder="Options Sparated with commas ">' +
                '				<i class="form-group__bar"></i>' +
				'			</div>' +
				'			<div class="col-sm-6 d-flex justify-content-around">' +
                '                <label class="custom-control custom-radio">' +
                '                   <input type="radio" name="survey[' + i + '][answer][dropdown][options][1][status]" value="WAHR" class="custom-control-input">' +
                '                    <span class="custom-control-indicator"></span>' +
                '                    <span class="custom-control-description">Right</span>' +
                '                </label>' +    
                '                <!--Radio button for Wrong button-->' +
                '                <label class="custom-control custom-radio">' +
                '                    <input type="radio" name="survey[' + i + '][answer][dropdown][options][1][status]" value="FALSCH" class="custom-control-input">' +
                '                    <span class="custom-control-indicator"></span>' +
                '                    <span class="custom-control-description">Wrong</span>' +
                '                </label>' +	
				'				<button class="btn btn-light float-right add_option_' + i + '" id="addoption_' + i +'"  name="survey[' + i + '][answer][dropdown][add_option]" type="button" id="add_option"> + Add Option</button>' +
				'			</div>' +
				'		</div>' +
                '	</div>' +
                '</div>' +	
                
                ' <!--Answer for Multiple choice-->' +
                '<div class="form-group answerfield" id="answer_multiple_choice_' + i + '">' +
                ' <!--div class="form-group">' +
                '<input type="text" class="form-control" name="survey[' + i + '][answer][multiple_choice][answer]" placeholder="Multiple Choice Answer">' +
                '<i class="form-group__bar"></i>' +
                '  </div--> ' +
                '<div class="form-group">' +
				'<div class="form-row">'+
                '<div class="col-md-6">'+ 				
                '<input type="text" class="form-control multiple_choice_' + i + '_option"   id="multiple_choice_option" name="survey[' + i + '][answer][multiple_choice][options][1][value]" placeholder="Options Sparated with commas ">' +
                '<i class="form-group__bar"></i>' +
				'</div>' +
                '			<div class="col-sm-6 d-flex justify-content-around">'+   
                '                <label class="custom-control custom-radio">'+
                '                    <input type="radio" name="survey[' + i + '][answer][multiple_choice][options][1][status]" value="WAHR" class="custom-control-input">'+
                '                    <span class="custom-control-indicator"></span>'+
                '                    <span class="custom-control-description">Right</span>'+
                '                </label>'+    
                '                <!--Radio button for Wrong button-->'+
                '                <label class="custom-control custom-radio">'+
                '                    <input type="radio" name="survey[' + i + '][answer][multiple_choice][options][1][status]" value="FALSCH" class="custom-control-input">'+
                '               	 <span class="custom-control-indicator"></span>'+
                '                    <span class="custom-control-description">Wrong</span>'+
                '                </label>'+ 
                '<button class="btn btn-light float-right add_multiple_choice_' + i + '"  id="addmultiplechoice_' + i + '" name="multiple_choice_option' + i + ' " type="button"> + Add Option</button>'+             
                '</div>'+ 
				'</div>'+										
                '</div>'+
                '</div>'+
                
                '<!--Answer for Slider-->' +
                ' <div class="form-group answerfield" id="answer_slider_' + i + '">' +
                '<div class="form-row">' +
                '<div class="col-md-4 ">' +
                '<input type="text" class="form-control" name="survey[' + i + '][answer][slider][min_value]" placeholder="Slider Minimum Value">' +
                ' <i class="form-group__bar"></i>' +
                '  </div>    ' +
                '  <div class="col-md-4 ">' +
                ' <input type="text" class="form-control" name="survey[' + i + '][answer][slider][max_value]" placeholder="Slider Maximum Value">' +
                ' <i class="form-group__bar"></i>' +
                ' </div>    ' +
                '  <div class="col-md-4 ">' +
                '<input type="text" class="form-control" name="survey[' + i + '][answer][slider][value]" placeholder="Correct Value">' +
                '<i class="form-group__bar"></i>' +
                ' </div>           ' +
                ' </div>    ' +
                ' </div>    ' +
                '   </div>' +
                               ' <div class="form-group float-right ">'+
                                        '<div class="col-md-3  float-right">'+
                                            '<button class="btn btn-light float-right" name="remove_question" type="button" id="remove_question_' + i + '"> - Remove Question</button> '+
                                        '</div>'+
                                   ' </div>'+
                                '</div>     '  +           
                '  </div>  ';
        // console.log(survey_card);   
        // Append new question 
        $("div#survey").append(survey_card);
        
        // Hide all the answers options    
        $('#answer_input_field_' + i).hide();
        $('#answer_picture_' + i).hide();
        $('#answer_multiple_choice_' + i).hide();
        $('#answer_slider_' + i).hide();
        $('#answer_single_choice_' + i).hide();
        
        
        
        //Add option to Multiple choice 
        $('button.add_multiple_choice_' + i).click(function(){

            var button_id = $(this).attr('id');
            console.log("Button Id", button_id.split('_'));
            var survey_id = button_id.split('_')[1];
            console.log("survey Id", survey_id);
            var count = $('input.multiple_choice_'+i+'_option').length;
            var class_id = checkdiv('multiple_choice_'+i+'_option', count);         
            var option =    '<div class="form-group"><div class="row">'+
                                '<div class="col-md-9">'+
                                    '<input type="text" class="form-control multiple_choice_'+i+'_option" id="multiple_choice_option_'+i+'" name="survey['+i+'][answer][multiple_choice][options]['+class_id+'][value]" placeholder="Option for Multiple">' +
                                    '<i class="form-group__bar"></i>'+
                                    '<br>' +
                                        '<input type="hidden" name="MAX_FILE_SIZE" value="1000000"/>' +
                                        '<input type="file" name="survey[' +i+ '][answer][multiple_choice][options]['+class_id+'][link_ref]" accept="image/*" />' +                                                        '</div>'+
                                '<div class="col-md-3 d-flex justify-content-around">'+
                                    '<label class="custom-control custom-radio">'+
                                        '<input type="radio" name="survey[' +i+ '][answer][multiple_choice][options]['+class_id+'][status]" value="WAHR" class="custom-control-input">' +
                                        '<span class="custom-control-indicator"></span>'+
                                        '<span class="custom-control-description">Right</span>'+
                                    '</label>' +   
                                    '<label class="custom-control custom-radio">'+
                                        '<input type="radio" name="survey[' +i+ '][answer][multiple_choice][options]['+class_id+'][status]" value="FALSCH" class="custom-control-input">' +
                                        '<span class="custom-control-indicator"></span>'+
                                        '<span class="custom-control-description">Wrong</span>'+
                                    '</label>' +                                   
                                '</div></div>' +
                            '</div>';  
                                   
            // Append new question 
            $('div#answer_multiple_choice_'+survey_id).append(option);        
        });         
        
        
       
        
        //Add option to Dropdown 
        $('button.add_option_' + i).click(function(){
            
            var button_id = $(this).attr('id');
            var survey_id = button_id.split('_')[1];
            var count = $('input.single_choice_'+i+'_option').length;
            var class_id = checkdiv('single_choice_'+i+'_option_', count);          
            
            var option =    '<div class="form-group"><div class="row">'+
                                '<div class="col-md-9">'+
                                    '<input type="text" class="form-control single_choice_'+i+'_option" id="single_choice_option_'+i+'" name="survey['+i+'][answer][dropdown][options]['+class_id+'][value]" placeholder="Option for Dropdown">' +
                                    '<i class="form-group__bar"></i>'+
                                    '<br>' +
                                        '<input type="hidden" name="MAX_FILE_SIZE" value="1000000"/>' +
                                        '<input type="file" name="survey[' +i+ '][answer][dropdown][options]['+class_id+'][link_ref]" accept="image/*" />' +
                                '</div>'+
                                '<div class="col-md-3 d-flex justify-content-around">'+
                                    '<label class="custom-control custom-radio">'+
                                        '<input type="radio" name="survey[' +i+ '][answer][dropdown][options]['+class_id+'][status]" value="WAHR" class="custom-control-input">' +
                                        '<span class="custom-control-indicator"></span>'+
                                        '<span class="custom-control-description">Right</span>'+
                                    '</label>' +   
                                    '<label class="custom-control custom-radio">'+
                                        '<input type="radio" name="survey[' +i+ '][answer][dropdown][options]['+class_id+'][status]" value="FALSCH" class="custom-control-input">' +
                                        '<span class="custom-control-indicator"></span>'+
                                        '<span class="custom-control-description">Wrong</span>'+
                                    '</label>' +                                   
                                '</div></div>' +
                            '</div>';         
                         
                   
            // Append new question 
            $('div#answer_single_choice_'+survey_id).append(option);        
        });        
        
        
        //Event handler for the newly added question
        $('select#select_question_type_' + i).change(function () {
            var option = $(this).find("option:selected").val();
            console.log(option);
            if (option == "single_choice") {
                $('#answer_input_field_' + i).hide();
                $('#answer_picture_' + i).hide();
                $('#answer_multiple_choice_' + i).hide();
                $('#answer_slider_' + i).hide();
                $('#answer_single_choice_' + i).fadeIn();
            } else if (option == "slider") {
                $('#answer_input_field_' + i).hide();
                $('#answer_picture_' + i).hide();
                $('#answer_multiple_choice_'+i).hide();
                $('#answer_single_choice_'+i).hide();
                $('#answer_slider_'+i).fadeIn();
            } else if (option == "inputfield") {
                $('#answer_single_choice_'+i).hide();
                $('#answer_picture_'+i).hide();
                $('#answer_slider_'+i).hide();
                $('#answer_multiple_choice_'+i).hide();
                $('#answer_input_field_'+i).fadeIn();
            } else if (option == "multiple_choice") {
                $('#answer_single_choice_'+i).hide();
                $('#answer_picture_'+i).hide();
                $('#answer_slider_'+i).hide();
                $('#answer_input_field_'+i).hide();
                $('#answer_multiple_choice_'+i).fadeIn();
            } 
            
        });
        
        //////////////////////////////////////////////////////////////////////////////////////////////////////////////
        
        // Remove question
        $('button#remove_question_'+i).click(function() {
            console.log('survey_card_'+i);
            $('.survey_card_'+i ).fadeOut();
            $('.survey_card_'+i ).remove();
        });
        
});

    // Popup the Answer Field
    $("select#select_question_type").change(function () {
        var option = $(this).find("option:selected").val();
        var option = $("select.select_question_type option:selected").val();
        if (option == "single_choice") {
            $('#answer_input_field').hide();
            $('#answer_picture').hide();
            $('#answer_multiple_choice').hide();
            $('#answer_slider').hide();
            $('#answer_single_choice').fadeIn();
        } else if (option == "slider") {
            $('#answer_input_field').hide();
            $('#answer_picture').hide();
            $('#answer_multiple_choice').hide();
            $('#answer_single_choice').hide();
            $('#answer_slider').fadeIn();
        } else if (option == "inputfield") {
            $('#answer_single_choice').hide();
            $('#answer_picture').hide();
            $('#answer_slider').hide();
            $('#answer_multiple_choice').hide();
            $('#answer_input_field').fadeIn();
        } else if (option == "multiple_choice") {
            $('#answer_single_choice').hide();
            $('#answer_picture').hide();
            $('#answer_slider').hide();
            $('#answer_input_field').hide();
            $('#answer_multiple_choice').fadeIn();
        }
    });
    

    
    
});
    </script>
{% endblock %}    
