{% extends "app.twig" %}

{% block content %}

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle">
                <span></span>
            </button>

            <h3 class="kt-subheader__title">Integrations</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            
            <h3 class="kt-subheader__title">HTTP Get</h3>

            <span class="kt-subheader__desc">{{ hb.camp_name }}
            </span>

        </div>

        <div class="kt-subheader__toolbar">
            <div
                class="kt-subheader__wrapper">

                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/campaigns/draft">
                    <i class="la la-angle-left"></i>Back to Campaigns</a>
                <!--end:Back to campaigns -->

            </div>
        </div>
    </div>

    
    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <!--Begin:: App Aside-->
             {{ include('/campaign_settings/leftmenu.twig') }}  

        <!--Begin:: App Content-->
        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
            <div class="row">
                 <div class="col-xl-6">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">URL Parameter&nbsp;&nbsp;&nbsp;| <small>Mapping&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="This table is to map url parameters"><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></small></h3>
                                </div>
                            </div>
                            
                            <!-- Editable table -->
                            <div class="card">

                              <div class="card-body">
                                <div id="table" class="table-editable">
                                  
                                  <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                      <tr>
                                        <th class="text-center"><strong>Campaign-In-One</strong></th>
                                        <th class="text-center"><strong>Constant</strong></th>
                                          <th class="text-center"><strong>URL parameter</strong></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <!-- This is our clonable table line -->
                                      <tr>
                                        <td class="pt-3-half" contenteditable="false"></td>
                                        <td class="pt-3-half" contenteditable="true"></td>
                                          <td class="pt-3-half" contenteditable="true"></td>
                                      </tr>
                                      {# need to add additional tr hear#}
                                    </tbody>
                                  </table>
                                </div>
                                  <button class="btn btn-brand btn-bold update" type="submit" value="update">Update</button>&nbsp;&nbsp;
                                  
                              </div>
                            </div>
                        </div>
                            <!-- Editable table -->   
                </div>
                <div class="col-xl-6">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">HTTP GET&nbsp;&nbsp;&nbsp;| <small>Configuration</small></h3>
                            </div>
                        </div>

                        <form autocomplete="off" class="kt-form kt-form--label-right" method="post">
                            <div class="kt-portlet__body">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">

                                        <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Send Data&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Enable or disable the Send Data feature."><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = ""%}
                                                            {% if c_set.sendData ==  "on" %}
                                                                {% set sync_status = "checked"%}
                                                            {% endif %}
                                                            <input type="checkbox"  {{sync_status}} name="sendData">
                                                            <input type="text" class="form-control" value = "{{c_set.id}}" name="id" placeholder="This is for ID" autocomplete="false" hidden>
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div> 
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Encryption Method &nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Send Data Encryption Method"><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                {% if c_set.encryptionMethod == "base64" %}
                                                   {% set a = "selected" %}
                                                {% elseif  c_set.encryptionMethod == "md5" %}
                                                    {% set r = "selected" %}
                                                {% endif %}
                                                    <select class="form-control" name="encryptionMethod" >
                                                    <option value="0">None</option>
                                                    <option value="base64" {{a}}>Base64</option>
                                                    <option value="md5" {{r}}>MD5</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Send Data Format &nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Format for sending Data"><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                {% if c_set.sendDataFormat == "type" %}
                                                   {% set p = "selected" %}
                                                {% elseif  c_set.sendDataFormat == "typeValue" %}
                                                    {% set k = "selected" %}
                                                {% endif %}
                                                    <select class="form-control" name="sendDataFormat" >
                                                    <option value="0">None</option>
                                                    <option value="type" {{p}}>Type</option>
                                                    <option value="typeValue" {{k}}>Type and Value</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" id="urlID"  name="urlParams"  autocomplete="false" hidden>
                                            <input type="text" class="form-control"  name="urlParams" id="second" value={{c_set.urlParams}} autocomplete="false" hidden>

                                            
                                    </div>
                                </div>
                            </div>

                            <div class="kt-portlet__foot">
                                <div class="kt-form__actions">
                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3"></div>
                                        <div class="col-lg-9 col-xl-9">
                                            <button class="btn btn-brand btn-bold" id="submit" type="submit" value="save">Save</button>&nbsp;
                                            <button class="btn btn-secondary" type="reset">Reset settings</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>   
             </div>
            
            
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
const $tableID = $('#table');
 const $BTN = $(".update");
 const $EXPORT = $('#export');
  const newTr = `<tr class="defaultTableValue">
                                        <td class="pt-3-half" contenteditable="true">[enter value]</td>
                                        <td class="pt-3-half" contenteditable="true">[enter value]</td>
                                        <td>
                                          <span class="table-remove"><i style="color:red;cursor: pointer;" class="fas fa-minus-circle"></i></span>
                                        </td>
                                      </tr>`;


 $('.table-add').on('click', 'a', () => {
     $('tbody').append(newTr);
 });

 $tableID.on('click', '.table-remove', function () {

   $(this).parents('tr').detach();
 });

 $tableID.on('click', '.table-up', function () {

   const $row = $(this).parents('tr');

   if ($row.index() === 1) {
     return;
   }

   $row.prev().before($row.get(0));
 });

 $tableID.on('click', '.table-down', function () {

   const $row = $(this).parents('tr');
   $row.next().after($row.get(0));
 });

 // A few jQuery helpers for exporting only
 jQuery.fn.pop = [].pop;
 jQuery.fn.shift = [].shift;

 $BTN.on('click', () => {

   const $rows = $tableID.find('tr:not(:hidden)');
   const headers = [];
   const data = [];

   // Get the headers (add special header logic here)
   $($rows.shift()).find('th:not(:empty)').each(function () {

     headers.push($(this).text().toLowerCase());
   });

   // Turn all existing rows into a loopable array
   $rows.each(function () {
     const $td = $(this).find('td');
     const h = {};

     // Use the headers from earlier to name our hash keys
     headers.forEach((header, i) => {

       h[header] = $td.eq(i).text();
     });

     data.push(h);
   });

   value = JSON.stringify(data);
   jsonValue = JSON.parse(value);
   var urlParameters = getReleventData(jsonValue);
   $("#urlID").attr('value', urlParameters );
   $("#second").prop('disabled', true);
   

   // Output the result
   $EXPORT.text(JSON.stringify(data));
 });
//This function will return base64 encripted mapping data
 function getReleventData(jsonValue){
     let urlParameter = {};
     let urlParameters ={};
     for (x in jsonValue){
         var key = "Parameter"+ jsonValue[x].parameter;
         var value = jsonValue[x].value;
         urlParameter = { [key] : value };
         urlParameters = $.extend({}, urlParameter,urlParameters);
     }
     urlParameters = btoa(JSON.stringify(urlParameters));
     return urlParameters;
 }
</script>

<script>
    $(function () {
        $('.cio-popover').popover({
            container: 'body',
            trigger : 'hover'
        })

        $('#menu-integrations').addClass("show");
        $('#int-http-get').addClass("kt-widget__item--active");

    })
</script>

{% endblock %}
