{% extends "app.twig" %}

{% block content %}

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle">
                <span></span>
            </button>

            <h3 class="kt-subheader__title">Integrations</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            
            <h3 class="kt-subheader__title">Mail-In-One</h3>

            <span class="kt-subheader__desc">{{ details.acc_name }}
            </span>

        </div>

        <div class="kt-subheader__toolbar">
            <div
                class="kt-subheader__wrapper">

                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/campaigns/draft">
                    <i class="la la-angle-left"></i>Back to Campaigns</a>
                <!--end:Back to campaigns -->

            </div>
        </div>
    </div>

    
    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <!--Begin:: App Aside-->
             {{ include('/campaign_settings/leftmenu.twig') }}  

        <!--Begin:: App Content-->
        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
            <div class="row">
                 <div class="col-xl-6">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Mail-In-One&nbsp;&nbsp;&nbsp;| <small>Mapping&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content=""><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></small></h3>
                                </div>
                            </div>
                            
                            <!-- Editable table -->
                            <div class="card">

                              <div class="card-body">
                                <div id="table" class="table-editable">
                                  
                                  <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                      <tr>
                                        <th class="text-center"><strong>Campaign-In-One</strong></th>
                                        <th class="text-center"><strong>Mail-In-One</strong></th>
                                        <th class="text-center"><strong>Event Mapping</strong></th> 
                                        <th class="text-center"><strong>Field type</strong></th> 
                                        <th class="text-center"><strong>Action</strong></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <!-- This is our clonable table line -->
                                      <tr>
                                        <td class="pt-3-half" contenteditable="true">email</td>
                                        <td class="pt-3-half" contenteditable="true">EMAIL</td>
                                        <td class="pt-3-half" contenteditable="true">email</td>
                                        <td class="pt-3-half" contenteditable="true">standard</td>
                                        <td>
                                          <i style="color:#c5c5c5;" class="fas fa-minus-circle"></i>
                                        </td>
                                      </tr>
                                     <tr>
                                        <td class="pt-3-half" contenteditable="true">salutation</td>
                                        <td class="pt-3-half" contenteditable="true">SALUTATION</td>
                                         <td class="pt-3-half" contenteditable="true">anreda</td>
                                         <td class="pt-3-half" contenteditable="true">standard</td>
                                        <td>
                                         <i style="color:#c5c5c5;" class="fas fa-minus-circle"></i>
                                        </td>
                                      </tr>
                                        <tr>
                                        <td class="pt-3-half" contenteditable="true">firstname</td>
                                        <td class="pt-3-half" contenteditable="true">FIRSTNAME</td>
                                        <td class="pt-3-half" contenteditable="true">vorname</td>
                                        <td class="pt-3-half" contenteditable="true">standard</td>
                                        <td>
                                          <i style="color:#c5c5c5;" class="fas fa-minus-circle"></i>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td class="pt-3-half" contenteditable="true">lastname</td>
                                        <td class="pt-3-half" contenteditable="true">LASTNAME</td>
                                        <td class="pt-3-half" contenteditable="true">nachname</td>
                                        <td class="pt-3-half" contenteditable="true">standard</td>
                                        <td>
                                         <i style="color:#c5c5c5;" class="fas fa-minus-circle"></i>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="pt-3-half" contenteditable="true">address</td>
                                        <td class="pt-3-half" contenteditable="true">ADDRESS</td>
                                        <td class="pt-3-half" contenteditable="true">strasse</td>
                                        <td class="pt-3-half" contenteditable="true">standard</td>
                                        <td>
                                         <i style="color:#c5c5c5;" class="fas fa-minus-circle"></i>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td class="pt-3-half" contenteditable="true">Telefon</td>
                                        <td class="pt-3-half" contenteditable="true">TELEFON</td>
                                        <td class="pt-3-half" contenteditable="true">telefon</td>
                                        <td class="pt-3-half" contenteditable="true">standard</td>
                                        <td>
                                         <i style="color:#c5c5c5;" class="fas fa-minus-circle"></i>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td class="pt-3-half" contenteditable="true">city</td>
                                        <td class="pt-3-half" contenteditable="true">CITY</td>
                                        <td class="pt-3-half" contenteditable="true">ort</td>
                                        <td class="pt-3-half" contenteditable="true">standard</td>
                                        <td>
                                         <i style="color:#c5c5c5;" class="fas fa-minus-circle"></i>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td class="pt-3-half" contenteditable="true">zip</td>
                                        <td class="pt-3-half" contenteditable="true">ZIP</td>
                                        <td class="pt-3-half" contenteditable="true">plz</td>
                                        <td class="pt-3-half" contenteditable="true">standard</td>
                                        <td>
                                         <i style="color:#c5c5c5;" class="fas fa-minus-circle"></i>
                                        </td>
                                      </tr>
                                        <tr>
                                        <td class="pt-3-half" contenteditable="true">title</td>
                                        <td class="pt-3-half" contenteditable="true">TITLE</td>
                                        <td class="pt-3-half" contenteditable="true"></td>
                                        <td class="pt-3-half" contenteditable="true">standard</td>
                                        <td>
                                          <i style="color:#c5c5c5;" class="fas fa-minus-circle"></i>
                                        </td>
                                      </tr>
                                        <tr>
                                        <td class="pt-3-half" contenteditable="true">sex</td>
                                        <td class="pt-3-half" contenteditable="true">gender</td>
                                        <td class="pt-3-half" contenteditable="true"></td>
                                        <td class="pt-3-half" contenteditable="true">standard</td>
                                        <td>
                                         <i style="color:#c5c5c5;" class="fas fa-minus-circle"></i>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                  
                                  <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fas fa-plus fa-2x" style="color:#7abe73;"></i></a></span>
                                  
                              </div>
                            </div>
                        </div>
                            <!-- Editable table -->   
                </div>
                <div class="col-xl-6">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Mail-In-One&nbsp;&nbsp;&nbsp;| <small>Configuration</small></h3>
                            </div>
                        </div>

                        <form autocomplete="off" class="kt-form kt-form--label-right" method="post">
                            <div class="kt-portlet__body">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">

                                        <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Create Contact&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="If setting is active creates or updates a contact in Mail-In-One "><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = ""%}
                                                            {% if c_set.createContact ==  "on" %}
                                                                {% set sync_status = "checked"%}
                                                            {% endif %}
                                                            <input type="hidden" name="imageUpload" value="off">
                                                            <input type="checkbox"  {{sync_status}} name="createContact">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div> 
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">DOI key &nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Please specify the DOI Key to create contact."><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control" value="{{c_set.doiKey}}" name="doiKey" placeholder="Enter DOI Key" autocomplete="false">
                                                    <input type="text" class="form-control" value = "{{c_set.id}}" name="id" placeholder="This is for ID" autocomplete="false" hidden>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Set Permission &nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Please Specify on of the Permission level.<br> 
                                                1: none <br>
                                                2: single opt-in  <br>
                                                3: confirmed opt-in <br>
                                                4: double opt-in <br>
                                                5: double opt-in plus <br>
                                                6: other"><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control" value="{{c_set.setPermission}}" name="setPermission" placeholder="Enter a Number" autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Type of Integration&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Please select one of type for integration <br>
                                                1. MarketingAutomation - Triggers the Marketing Automation Id<br>
                                                2. DOI  - DOI process will be started for creating contact. <br>
                                                3. ContactEvent - Contact Event will start a transaction and triggers a specified Event id.<br>
                                                4. DOIXorContactEvent - Will trigger both DOI and ContactEvent."><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                {% if c_set.typeOfIntegration == "MarketingAutomation" %}
                                                   {% set E = "selected" %}
                                                {% elseif  c_set.typeOfIntegration == "DOI" %}
                                                    {% set U = "selected" %}
                                                {% elseif  c_set.typeOfIntegration == "ContactEvent" %}
                                                    {% set P = "selected" %}
                                                {% elseif  c_set.typeOfIntegration == "DOIXorContactEvent" %}
                                                    {% set F = "selected" %}
                                                {% endif %}   
                                                    <select class="form-control mioSelect" name="typeOfIntegration" >
                                                    <option value="0">None</option>
                                                    <option value="MarketingAutomation" {{E}}>Marketing Automation</option>
                                                    <option value="DOI" {{U}}>DOI</option>
                                                    <option value="ContactEvent" {{P}}>Contact Event</option>
                                                    <option value="DOIXorContactEvent" {{F}}>DOIX or Contact Event</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row MA" {{h}}>
                                                <label class="col-xl-5 col-lg-5 col-form-label">Marketing Automation ID &nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Please specify the Marketing Automation id from MIO"><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control" value="{{c_set.marketingAutomationId}}" name="marketingAutomationId" placeholder="Enter Marketing Automation ID" autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row CE" {{c}}>
                                                <label class="col-xl-5 col-lg-5 col-form-label">Contact Event ID &nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Please specify the event id from MIO"><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control" value="{{c_set.contactEventId}}" name="contactEventId" placeholder="Enter a Number" autocomplete="false">
                                                </div>
                                            </div>
                                            <div class="form-group row DOI">
                                                <label class="col-xl-5 col-lg-5 col-form-label">DOI Malling List:&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Please specify the DOI key from MIO"><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <select class="form-control mioSelect" name="typeOfIntegration" >
                                                    <option value="0">None</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row CE">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Contact Events:&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="List of all Contact Events."><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">   
                                                    <select class="form-control mioSelect" name="typeOfIntegration" >
                                                    <option value="0">None</option>
                                                    </select>
                                                </div>
                                            </div>

                                            
                                    </div>
                                </div>
                            </div>

                            <div class="kt-portlet__foot">
                                <div class="kt-form__actions">
                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3"></div>
                                        <div class="col-lg-9 col-xl-9">
                                            <button class="btn btn-brand btn-bold" id="submit" type="submit" value="save">Save</button>&nbsp;
                                            <button class="btn btn-secondary" type="reset">Reset settings</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>   
             </div>
            
            
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
const $tableID = $('#table');
 const $BTN = $('#export-btn');
 const $EXPORT = $('#export');

 const newTr = `
                                    <tr class="">
                                        <td class="pt-3-half" contenteditable="true">[enter value]</td>
                                        <td class="pt-3-half" contenteditable="true">[enter value]</td>
                                        <td class="pt-3-half" contenteditable="true">[enter value]</td>
                                        <td class="pt-3-half" contenteditable="true">custom</td>
                                        <td>
                                          <span class="table-remove"><i style="color:red;cursor: pointer;" class="fas fa-minus-circle"></i></span>
                                        </td>
                                    </tr>`;

 $('.table-add').on('click', 'a', () => {
     $('tbody').append(newTr);
 });

 $tableID.on('click', '.table-remove', function () {

   $(this).parents('tr').detach();
 });

 $tableID.on('click', '.table-up', function () {

   const $row = $(this).parents('tr');

   if ($row.index() === 1) {
     return;
   }

   $row.prev().before($row.get(0));
 });

 $tableID.on('click', '.table-down', function () {

   const $row = $(this).parents('tr');
   $row.next().after($row.get(0));
 });

 // A few jQuery helpers for exporting only
 jQuery.fn.pop = [].pop;
 jQuery.fn.shift = [].shift;

 $BTN.on('click', () => {

   const $rows = $tableID.find('tr:not(:hidden)');
   const headers = [];
   const data = [];

   // Get the headers (add special header logic here)
   $($rows.shift()).find('th:not(:empty)').each(function () {

     headers.push($(this).text().toLowerCase());
   });

   // Turn all existing rows into a loopable array
   $rows.each(function () {
     const $td = $(this).find('td');
     const h = {};

     // Use the headers from earlier to name our hash keys
     headers.forEach((header, i) => {

       h[header] = $td.eq(i).text();
     });

     data.push(h);
   });

   // Output the result
   $EXPORT.text(JSON.stringify(data));
 });
</script>

<script>
    $(function () {
        $('.cio-popover').popover({
            container: 'body',
            trigger : 'hover'
        })

        $('#menu-integrations').addClass("show");
        $('#int-mio').addClass("kt-widget__item--active");
    })
</script>

<script>
$('.mioSelect').on('change', function() {
  var mioSelect = $( ".mioSelect" ).val();
  if(mioSelect == "MarketingAutomation"){
      $('.CE').hide();
      $('.MA').show();
      $('.DOI').hide();
  }else if(mioSelect == "ContactEvent"){
      $('.MA').hide();
      $('.CE').show();
      $('.DOI').hide();
  }else if(mioSelect == "DOIXorContactEvent"){
      $('.MA').hide();
      $('.CE').show();
      $('.DOI').show();

  }else if(mioSelect == "DOI"){
      $('.MA').hide();
      $('.CE').hide();
      $('.DOI').show();
  }else{
      $('.MA').hide();
      $('.CE').hide();
      $('.DOI').hide();
  }
});
</script>

{% endblock %}
