{% extends "app.twig" %}

{% block content %}


    <style>

        .cio-form-labels {

            color: #bdbebe;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 2px;

        }

        {# Footer or Header Color #}
        .cio-button-color {
            background-color: #191919;
            color: #fff;
        }

        {# treaction color #}
        .cio-treaction-color {
            background-color: #7abe73 !important;
        }

    </style>

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Integrations</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <h3 class="kt-subheader__title">Mapping table</h3>

            <span class="kt-subheader__desc">{{ details.acc_name }} </span>

        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">

                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/campaigns/draft"><i
                            class="la la-angle-left"></i>Back to Campaigns</a>
                <!--end:Back to campaigns -->

            </div>
        </div>
    </div>

    {# Collect details for URL's#}
    {% set camp_id = c_set.camp_id %}
    {% set acc_id = c_set.acc_id  %}
    {% set id = c_set.id %}
    {% set route_url = "#{url}account/#{acc_id}/campaigns/#{camp_id}/mappings" %}

    <div class="kt-content kt-grid__item kt-grid__item--fluid">
        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <!--Begin:: App Aside-->
            {{ include('/campaign_settings/leftmenu.twig') }}

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Mapping&nbsp;&nbsp;&nbsp;|<small>Table&nbsp;&nbsp;&nbsp;<a
                                                    data-html="true" class="cio-popover" data-toggle="popover" title=""
                                                    data-content="Here you can organise and declare all your mapping standard fields and custom field from Campaign-In-One to third party integrations.<br><br>All table fields are editable. You can add a new custom field mapping with the 'Add mapping custom field +' button. Please save your changes with the 'Save mapping table' button.<br><br>Newly added integrations will be automatically added to this table in a new column."><i
                                                        style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></small>
                                    </h3>
                                </div>
                            </div>
                            <form class="kt-form kt-form--label-right" id="camp-int-map" autocomplete="off" data-route-url = "{{ route_url }}" data-dt = "{{ c_set|json_encode }}">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">


                                            <div class="card-body">
                                                <div id="table" class="table-editable">
                                                    <table class="table table-sm table-bordered table-responsive-md table-striped text-center"
                                                           id="dt-int-maping">
                                                        {% set id = 1 %}
                                                        <thead>
                                                        <tr>
                                                            <th class="text-center">
                                                                <strong>Campaign-In-One&nbsp;&nbsp;<a data-html="true"
                                                                                                      class="cio-popover"
                                                                                                      data-toggle="popover"
                                                                                                      title=""
                                                                                                      data-content="Campaign-In-One standard (default) mapping fields and custom fields."><i
                                                                                style="color:#c5c5c5;"
                                                                                class="fas fa-info-circle fa"></i></a></strong>
                                                            </th>
                                                            <th class="text-center">
                                                                <strong>HTML Form&nbsp;<a data-html="true"
                                                                                          class="cio-popover"
                                                                                          data-toggle="popover"
                                                                                          title=""
                                                                                          data-content="Mapping for HTML form fields."><i
                                                                                style="color:#c5c5c5;"
                                                                                class="fas fa-info-circle fa"></i></a></strong>
                                                            </th>
                                                            <th class="text-center"><strong>Mail-In-One&nbsp;&nbsp;<a
                                                                            data-html="true" class="cio-popover"
                                                                            data-toggle="popover" title=""
                                                                            data-content="Mail-In-One standard (default) mapping fields and custom fields."><i
                                                                                style="color:#c5c5c5;"
                                                                                class="fas fa-info-circle fa"></i></a></strong>
                                                            </th>
                                                            <th class="text-center"><strong>Hubspot&nbsp;&nbsp;<a
                                                                            data-html="true" class="cio-popover"
                                                                            data-toggle="popover" title=""
                                                                            data-content="Hubspot standard (default) mapping fields and custom fields."><i
                                                                                style="color:#c5c5c5;"
                                                                                class="fas fa-info-circle fa"></i></a></strong>
                                                            </th>
                                                            <th class="text-center"><strong>Email forwarding&nbsp;&nbsp;<a
                                                                            data-html="true" class="cio-popover"
                                                                            data-toggle="popover" title=""
                                                                            data-content="E-Mail forwarding standard (default) mapping fields and custom fields."><i
                                                                                style="color:#c5c5c5;"
                                                                                class="fas fa-info-circle fa"></i></a></strong>
                                                            </th>
                                                            <th class="text-center"><strong>Field type&nbsp;&nbsp;<a
                                                                            data-html="true" class="cio-popover"
                                                                            data-toggle="popover" title=""
                                                                            data-content="There are two field types. Standard field types and custom field types. Standard field types are the default mapping values given by the system. Custom field types are custom fields added by the user. "><i
                                                                                style="color:#c5c5c5;"
                                                                                class="fas fa-info-circle fa"></i></a></strong>
                                                            </th>
                                                            <th class="text-center"><strong>Action&nbsp;&nbsp;<a
                                                                            data-html="true" class="cio-popover"
                                                                            data-toggle="popover" title=""
                                                                            data-content="Click the 'remove' icon to delete a custom field mapping."><i
                                                                                style="color:#c5c5c5;"
                                                                                class="fas fa-info-circle fa"></i></a></strong>
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <button class="btn btn-brand btn-bold update" type="submit"
                                                        value="update">Save mapping table
                                                </button>&nbsp;&nbsp;

                                                <span class="table-add mb-3 mr-2 float-right" id="addRow">
                                                    <a href="#!" class="btn">
                                                        <i class="fas fa-plus fa-2x" style="color:#7abe73;"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}          

{% block javascripts %}
    <script type="text/javascript">
        var KTDatatablesBasicBasic_1 = function () {
            let c_set =  $( "form" ).attr( "data-dt" );
            let c_set_arr = JSON.parse(c_set);
            let id = c_set_arr.id;
            let data =[];
            if($.isArray(c_set_arr.data)){
                data = getParsedData(c_set_arr.data);
            }/*else {
                data = getParsedData(['HTML field', 'CIO field', 'MIO field', 'HB field', 'Email field', 'custom', '-']);
            }*/


            function getParsedData(c_set_arr) {
                // Remove unwanted Params
                delete c_set_arr.id;
                delete c_set_arr.camp_id;
                delete c_set_arr.acc_id;
                let objLength = Object.keys(c_set_arr).length;

                let i = 0
                let arr = [];
                let tmp = [];
                while(i < objLength) {
                    tmp = c_set_arr[i];
                    tmp_2 = [
                        tmp['Campaign-In-One'],
                        tmp['HTML Form'],
                        tmp['Mail-In-One'],
                        tmp['Hubspot'],
                        tmp['Email Forwarding'],
                        tmp['Field type'],
                    ]
                    arr.push(tmp_2);
                    i++;
                }
                return arr;
            }

            var initTable2 = function () {

                var table = $('#dt-int-maping');
                // begin first table
                table.DataTable({
                    paging: false,
                    searching: false,
                    bSort: false,
                    bInfo : false,
                    data: data,
                    columnDefs: [
                        {
                            targets: 0,
                            orderable: false,
                            render: function (data, type, row) {
                                return '<input class="form-control " style="border: none; background: none; text-align: center;" type="text" value="' + data + '">';
                            },
                            className: 'pt-3-half'
                        },
                        {
                            targets: 1,
                            orderable: false,
                            render: function (data, type, row) {
                                return '<input class="form-control " style="border: none; background: none; text-align: center;" type="text" value="' + data + '">';
                            },
                            className: 'pt-3-half'
                        },
                        {
                            targets: 2,
                            orderable: false,
                            render: function (data, type, row) {
                                return '<input class="form-control" style="border: none; background: none; text-align: center;" type="text" value="' + data + '">';
                            },
                            className: 'pt-3-half'
                        },
                        {
                            targets: 3,
                            orderable: false,
                            render: function (data, type, row) {
                                return '<input class="form-control" style="border: none; background: none; text-align: center;" type="text" value="' + data + '">';
                            },
                            className: 'pt-3-half'
                        },
                        {
                            targets: 4,
                            orderable: false,
                            render: function (data, type, row) {
                                return '<input class="form-control " style="border: none; background: none; text-align: center;" type="text" value="' + data + '">';
                            },
                            className: 'pt-3-half'
                        },
                        {
                            targets: 5,
                            orderable: false,
                            render: function (data, type, row) {
                                return '<input class="form-control " style="border: none; background: none; text-align: center;" type="text" value="' + data + '">';
                            },
                            className: 'pt-3-half'
                        },
                        {
                            targets: 6,
                            orderable: false,
                            render: function (data, type, row) {
                                return '<i style="color:#c5c5c5;" class="fas fa-minus-circle"></i>';
                            },
                            className: 'pt-3-half removeRow'
                        },
                    ],
                });

            };

            return {
                //main function to initiate the module
                init: function () {
                    initTable2();
                },
            };
        }();


        jQuery(document).ready(function () {

            let c_set =  $( "form" ).attr( "data-dt" );
            let c_set_arr = JSON.parse(c_set)
            let id = c_set_arr.id;

            KTDatatablesBasicBasic_1.init();
            var table = $('#dt-int-maping').DataTable();
            let route_url =  $( "form" ).attr( "data-route-url" );

            $('span#addRow').on('click', function () {
                const row = ['CIO field', 'HTML field', 'MIO field', 'HB field', 'Email field', 'custom', '-']
                table.row.add(row).draw();
                $("form").submit();
                //location.reload();

            });

            $('td.removeRow').on( 'click', function () {

                table
                    .row( $(this).parents('tr') )
                    .remove()
                    .draw();

            });

            $('table#dt-int-maping tr.lastrow').on('click', function () {

                table
                    .row($(this))
                    .remove()
                    .draw();
            });


            /*
            * On Submit
            * Send all the Mapping data to Route URl
            * */
            $("#camp-int-map").submit(function (event) {
                event.preventDefault();
                var dtJson = getDTJson();
                let dtEnocdeJson = btoa(dtJson);
                $.ajax({
                    url: route_url,
                    type:'POST',
                    contentType: 'text/html',
                    data: dtEnocdeJson
                });
            });

            /*
            * getDTJson
            * Convert the Table data to Json format
            * */
            function getDTJson() {
                let heads = [];
                let table = {};
                let rows = [];
                let js_table ="";

                $("thead").find("th").each(function () {
                    heads.push($(this).text().trim());
                });

                $("tbody tr").each(function () {
                    let cur = {};
                    $(this).find("td").each(function (i, v) {
                        cur[heads[i]] = $(this).find("input.form-control").val();
                    });
                    rows.push(cur);
                });

                table['id'] = id;
                table['data'] = rows
                js_table = JSON.stringify(table);
                return js_table;
            }
        });
    </script>

    <script type="text/javascript">
        $('#menu-integrations').addClass("show");
        $('#int-mapping').addClass("kt-widget__item--active");
    </script>
{% endblock %}