{% extends "app.twig" %}

{% block content %}



    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">Leads</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">treaction ag</span>

        </div>

        {% set camp_name = leads.camp_name %}
        {% set campaigns = leads.campaign %}
        {% set acc_id = leads.acc_id %}
        {% set leads = leads.leads %}

        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                    {# Search #}

                    <li class="nav-item">
                        <input class="form-control" placeholder="Search" type="text" id="lead-search">
                    </li>

                    {# Show Custom Fields #}
                    <li class="nav-item d-none">
                        <button class="form-control" id="show-cus-fields">Show CustomFields</button>
                    </li>
                    {% set lead_url = "#{url}account/#{acc_id}/leads" %}
                    {# Dropdown by campaigns #}
                    <li class="nav-item">
                        <!--begin:button filter by campaigns-->
                        <select class="btn btn-secondary dropdown-toggle" type="button" id="filter_by_campaign"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <option value="" selected>Filter by campaign</option>
                            <option value="{{ lead_url }}">All Campaigns</option>
                            {% for campaign in campaigns %}
                                {% if campaign.name is not empty %}
                                    {% if campaign.name == camp_name %}
                                        <option value="{{ campaign.url }}" selected>{{ campaign.name }}</option>
                                     {% else %}
                                        <option value="{{ campaign.url }}">{{ campaign.name }}</option>
                                     {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                        <!--end:button filter by campaigns -->
                    </li>

                    {# Dropdown by Status #}
                    <li class="nav-item">
                        <!--begin:button filter by status-->
                        <select class="btn btn-secondary dropdown-toggle" type="button" id="filter_by_status"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <option value="" type="button" selected>Filter by status</option>
                            <option value="active">active</option>
                            <option value="inactive">inactive</option>
                        </select>
                    </li>

                    {# Filter by Date range #}
                    <li class="nav-item">
                        <!--begin:button filter by date -->
                        <input type="text" name="daterange" id="LeadsfilterByDate" class="form-control"
                               placeholder="Filter By Date"/>
                        <!--end:button filter by date-->
                    </li>

                    {# Export Table or selected rows #}
                    <li class="nav-item">
                        <div class="btn btn-brand btn-elevate btn-icon-sm" id="export-table"></div>
                    </li>

                </ul>
            </div>
        </div>
        <!--end::sub-control menu-->
    </div>
    <!-- end:: Content Head -->

    <!--begin:sub-control menu -->
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold float-right" role="tablist">
                <li class="nav-item">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                        <input type="checkbox" name="cb-cus-fields" data-enpassusermodified="yes" id="cb-cus-fields">Custom
                        Fields&nbsp;&nbsp;
                        <span style="border:1px solid #7abe73"></span>
                    </label>
                </li>
                <li class="nav-item">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                        <input type="checkbox" name="cb-ts" data-enpassusermodified="yes" id="cb-ts"> Traffic Source&nbsp;&nbsp;
                        <span style="border:1px solid #7abe73"></span>
                    </label>
                </li>
                <li class="nav-item">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                        <input type="checkbox" name="cb-tg" data-enpassusermodified="yes"> Target Group&nbsp;&nbsp;
                        <span style="border:1px solid #7abe73"></span>
                    </label>
                </li>
                <li class="nav-item">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                        <input type="checkbox" name="cb-utm-parms" data-enpassusermodified="yes"> UTM Parameters&nbsp;&nbsp;
                        <span style="border:1px solid #7abe73"></span>
                    </label>
                </li>
                <li class="nav-item">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                        <input type="checkbox" name="cb-aff" data-enpassusermodified="yes"> Affiliate Id's&nbsp;&nbsp;
                        <span style="border:1px solid #7abe73"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

        {% if leads.error_leads %}
            <!-- begin:: warnings  -->
            <div class="alert alert-danger fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">{{ leads.error_leads }}</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
        {% endif %}
        <!-- end:: warnings -->

        <!--begin:alert -->
        {% if leads.notify_leads %}
            <div class="alert alert-light alert-elevate fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">{{ leads.notify_leads }}</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
        {% endif %}
        <!--end:alert -->
        <!-- end:: warnings -->


        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <!--begin: Datatable -->
                <table class="table  table-striped table-bordered table-hover table-checkable" id="leads_per_campaing">
                    <thead>
                    <tr>
                        {% if leads|length > 0 %}
                            <th><b>Record Id</b></th>
                            {% for key, value in leads[0] %}
                                {% if key is not empty %}
                                    <th id="{{ key }}"><b>{{ key }}</b></th>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <th class="text-center"><b>No Leads present for this Campaign</b></th>
                        {% endif %}

                    </tr>
                    </thead>
                    {% set id = 1 %}
                    <tbody>
                    {% for lead in leads %}
                        <tr>
                            <th>{{ id }}</th>
                            {% for key, value in lead %}
                                {% if value is iterable %}
                                    {# activaton URL#}
                                    {# protocol + '//' + host + '/account/' + ids[0] + '/lead/' + ids[2] + '/' + operation; #}
                                    {% set act_url = "#{url}/account/#{acc_id}/lead/#{value[2]}/reactivate" %}
                                    {# dicativation URL#}
                                    {% set deact_url = "#{url}/account/#{acc_id}/lead/#{value[2]}/deactivate" %}
                                    {# Lead view #}
                                    {% set lead_view_url = "#{url}/account/#{acc_id}/lead/#{value[2]}/detail" %}
                                    <td>
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                               data-toggle="dropdown" aria-expanded="true">
                                            <i class="la la-edit"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" id="export_lead_detail" href={{ lead_view_url }}><i
                                                        class="la la-search-plus"></i> Show lead details</a>
                                            <a class="dropdown-item" href={{ deact_url }}><i class="la la-minus-circle"></i> Deactivate lead</a>
                                            <a class="dropdown-item" href={{ act_url }}><i class="la la-minus-circle"></i> Reactivate lead</a>
                                        </div>
                                    </span>
                                    </td>
                                {% else %}
                                    {% if key == "Campaign Name" %}
                                        <td id="camp-name" data-attr ="{{ value }}">{{ value }}</td>
                                    {% else %}
                                        <td>{{ value }} </td>
                                    {% endif  %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% set id = id + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
                <!--end: Datatable -->
            </div>
        </div>
    </div>
    <!-- end:: Content -->



{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        //redirect the page
        $("select#filter_by_campaign").change(function () {
            var camp_url = $(this).children("option:selected").val();
            $(location).attr('href', camp_url);
        });

        // Show the campaign name in selected Option
/*        let campaign = $('table#leads_per_campaing td#camp-name').attr('data-attr');
        $('select#filter_by_campaign').find('option').each(function() {
            let option = $(this).attr('data-name');
            if(campaign === option) {
                $(this).prop('selected', true);
            }
        });*/

    </script>
{% endblock %}

