{% extends "app.twig" %}

{% block content %}

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Settings General</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">{{ details.acc_name }} </span>

        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
        
            <!--begin:Back to campaigns -->
            <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/campaigns/draft"><i class="la la-angle-left"></i>Back to Campaigns</a>
            <!--end:Back to campaigns -->
           
           </div>
       </div>            
    </div>

    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <!--Begin:: App Aside-->
            {{ include('/campaign_settings/leftmenu.twig') }}  

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Settings&nbsp;&nbsp;&nbsp;| <small>Fraud prevention</small></h3>
                                </div>
                            </div>

                            <form class="kt-form kt-form--label-right" method="post" autocomplete="off">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">                                      

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Unique user registration&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="The users of your campaign are only enabled to commit a unique, one-time registration. The users cannot register a second time to your active campaign.<hr>active = single registration <br>inactive = multiple registrations"><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = ""%}
                                                            {% if c_set.singleSubmit ==  "on" %}
                                                                {% set sync_status = "checked"%}
                                                            {% endif %}
                                                            <input type="hidden" name="singleSubmit" value="off">
                                                            <input type="checkbox" {{sync_status}} name="singleSubmit">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div> 
                                            </div>  

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Disable form cut, copy and paste&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Disable the cut, copy and paste fuctionalty of your form input fields. This increases the prevention of fraud e-mail opt-ins.<hr>active = disable cut, copy and paste <br>inactive = enable cut, copy and paste"><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = ""%}
                                                            {% if c_set.noCutCopyPaste ==  "on" %}
                                                                {% set sync_status = "checked"%}
                                                            {% endif %}
                                                            <input type="hidden" name="noCutCopyPaste" value="off">
                                                            <input type="checkbox" {{sync_status}} name="noCutCopyPaste">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div> 
                                            </div>  

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Tradeshow mode&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Tradeshow mode allows you to ignore specific features. Single user registration is deactivated. Dataflow redirect page is deactivated. The optin form will process the registration data and loop back to the initial starting page of the campaign.<hr>active = enable tradeshow mode <br>inactive = disable tradeshow mode"><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = ""%}
                                                            {% if c_set.tradeShowMode ==  "on" %}
                                                                {% set sync_status = "checked"%}
                                                            {% endif %}
                                                            <input type="hidden" name="tradeShowMode" value="off">
                                                            <input type="checkbox" {{sync_status}} name="tradeShowMode">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div> 
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Prohibit free mailer addresses&nbsp;&nbsp;&nbsp;
                                                <a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="When active, your registration form will prohibit registration of users with a free mailer email address e.g. gmail, yahoo or gmx.<hr>active = prevent freemailers <br>inactive = allow freemailers"><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = ""%}
                                                            {% if c_set.blockFreeMailer ==  "on" %}
                                                                {% set sync_status = "checked"%}
                                                            {% endif %}
                                                            <input type="hidden" name="blockFreeMailer" value="off">
                                                            <input type="checkbox" {{sync_status}} name="blockFreeMailer">
                                                            <input type="text" class="form-control" value = "{{c_set.id}}" name="id"  autocomplete="false" hidden>
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div> 
                                            </div> 

           
                                        </div>
                                    </div>
                                </div>

                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button type="submit" class="btn btn-brand btn-bold">Save</button>&nbsp;
                                                <button type="reset" class="btn btn-secondary">Reset settings</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>    
                    </div>
                </div>     
            </div> 
        </div>   
    </div>
                                                                   

{% endblock %}          

{% block javascripts %}  

<script>
    $(function () {
        $('.cio-popover').popover({
            container: 'body',
            trigger : 'hover'
        })

        $('#menu-settings').addClass("show");
        $('#set-fraud').addClass("kt-widget__item--active");
    })
</script>


{% endblock %}