{% extends "app.twig" %}

{% block content %}



    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Settings General</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">{{ details.acc_name }} </span>

        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">

                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/campaigns/draft"><i
                            class="la la-angle-left"></i>Back to Campaigns</a>
                <!--end:Back to campaigns -->

            </div>
        </div>
    </div>


    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <!--Begin:: App Aside-->
            {{ include('/campaign_settings/leftmenu.twig') }}

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Settings&nbsp;&nbsp;&nbsp;|<small>
                                            General</small></h3>
                                </div>
                            </div>

                            <form class="kt-form kt-form--label-right" method="post" autocomplete="off">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Unique user registration
                                                    &nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover"
                                                                         data-toggle="popover" title=""
                                                                         data-content="The users of your campaign are only enabled to commit a unique, one-time registration. The users cannot register a second time to your active campaign.<hr>active = single registration <br>inactive = multiple registrations"><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>

                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if c_set.singleSubmit ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="hidden" name="singleSubmit" value="off">
                                                            <input type="checkbox" {{ sync_status }} name="singleSubmit">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Update registered
                                                    contact&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover"
                                                                                data-toggle="popover" title=""
                                                                                data-content="If the user has exisiting registration data, it's contact data can be updated<hr>active = update user data <br>inactive = no update of user data. Campaign unique."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if c_set.updateExestingRecord ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="hidden" name="updateExestingRecord"
                                                                   value="off">
                                                            <input type="checkbox"  {{ sync_status }} name="updateExestingRecord">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Image Upload&nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title=""
                                                            data-content="Enable or disable the image upload feature within your registration form."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if c_set.imageUpload ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="hidden" name="imageUpload" value="off">
                                                            <input type="checkbox"  {{ sync_status }} name="imageUpload">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Keep URL Parameters&nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title=""
                                                            data-content="If Setting is active URL Parameters are remained and transfered to following page."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if c_set.keep_url_parms ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="hidden" name="keep_url_parms" value="off">
                                                            <input type="checkbox"  {{ sync_status }} name="keep_url_parms">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Autofill City Name&nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title=""
                                                            data-content="If Setting is active, City name is automatically filled based on given Postal code."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if c_set.autofill_city ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="hidden" name="autofill_city" value="off">
                                                            <input type="checkbox"  {{ sync_status }} name="autofill_city">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Localization for Country
                                                    &nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover"
                                                                         data-toggle="popover" title=""
                                                                         data-content="Please specify the Country name for localization, The city name is automatically update based on given postal code with in the given country name."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    {% set eu_countries = [
                                                        'Austria','Belgium','Bulgaria','Croatia',
                                                        'Cyprus','Czechia','Denmark', 'Estonia',
                                                        'Finland','France','Germany','Greece',
                                                        'Hungary','Ireland','Italy','Latvia',
                                                        'Lithuania','Luxembourg','Malta','Netherlands',
                                                        'Poland','Portugal','Romania','Slovakia',
                                                        'Slovenia','Spain','Sweden',
                                                    ]
                                                    %}
                                                    <select class="form-control" name="localization">
                                                        <option value="0">None</option>
                                                        {% for country in eu_countries %}
                                                            {% if country == c_set.localization %}
                                                                <option value="{{country}}" selected >{{country}}</option>
                                                            {% else %}
                                                                <option value="{{country}}" >{{country}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                    <input type="text" class="form-control" value="{{ c_set.id }}"
                                                           name="id" placeholder="This is for ID" autocomplete="false"
                                                           hidden>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Address Validation&nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title=""
                                                            data-content="Enable or disable the validating street, house number and city based on postalcode."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if c_set.addr_validate ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="hidden" name="addr_validate" value="off">
                                                            <input type="checkbox"  {{ sync_status }} name="addr_validate">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Track Customer Journey&nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title=""
                                                            data-content="Tracks the Customer Journey based on given trafficsource parameter."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if c_set.track_cus_jour ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="hidden" name="track_cus_jour" value="off">
                                                            <input type="checkbox"  {{ sync_status }} name="track_cus_jour">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Accept PreFilling&nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title=""
                                                            data-content="Enable or disable prefilling of Form fields for Campaign."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if c_set.accept_pre_filling ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="hidden" name="accept_pre_filling" value="off">
                                                            <input type="checkbox"  {{ sync_status }} name="accept_pre_filling">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Campaign expiration
                                                    &nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover"
                                                                         data-toggle="popover" title=""
                                                                         data-content="Set the date and time for when the campaign should expire.<hr> Under 'messages settings' you can customise the 'campaign expiration message'."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text" id="datetimepicker" class="form-control"
                                                           value="{{ c_set.expireDate }}" name="expireDate"
                                                           autocomplete="false">
                                                    <input type="text" class="form-control" value="{{ c_set.id }}"
                                                           name="id" placeholder="This is for ID" autocomplete="false"
                                                           hidden>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Automatically extend
                                                    campaign &nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover"
                                                                                  data-toggle="popover" title=""
                                                                                  data-content="Automatically extend the active campaign after the campaign expiration date.<hr>Enter how many days the campaign should be extended."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ c_set.autoIncreaseDays }}" name="autoIncreaseDays"
                                                           placeholder="Number of days" autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Set maximum offers&nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title=""
                                                            data-content="Set the maximum quantity of the offers of the active campaign. When the offers reach the value '0', the campaign will expire. If the campaign expiration setting is enabled, the offers will be reset with this maximum value."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                {% if c_set.maxOffers is empty %}
                                                    {% set c_set = c_set | merge ({'maxOffers': '100'}) %}
                                                {% endif %}
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ c_set.maxOffers }}" name="maxOffers"
                                                           placeholder="maximum number of offers" autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Set sold offers&nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title=""
                                                            data-content="Set the quantity of the sold offers of the active campaign. The value of the 'Set sold offers' cannot be higher than the 'Set maximum offers' value."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                {% if c_set.soldOffers is empty %}
                                                    {% set c_set = c_set | merge ({'soldOffers': '90'}) %}
                                                {% endif %}
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ c_set.soldOffers }}" name="soldOffers"
                                                           placeholder="Number of sold offers" autocomplete="false">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button type="submit" class="btn btn-brand btn-bold">Save</button>&nbsp;
                                                <button type="reset" class="btn btn-secondary">Reset Settings</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>


{% endblock %}          

{% block javascripts %}
    <script type="text/javascript">
        $("#datetimepicker").datetimepicker({format: 'y-m-d h:i'});
    </script>

    <script>
        $(function () {
            $('.cio-popover').popover({
                container: 'body',
                trigger: 'hover'
            })

            $('#menu-settings').addClass("show");
            $('#set-gen').addClass("kt-widget__item--active");

        })
    </script>



{% endblock %}