{% extends "app.twig" %}

{% block content %}


    <style>

        .cio-form-labels
        {

            color:#bdbebe;
            font-size:11px; 
            text-transform: uppercase; 
            font-weight: 800; 
            letter-spacing: 2px;  

        }

        {# Footer or Header Color #}
        .cio-button-color{
            background-color:#191919;
            color:#fff;
        }

        {# treaction color #}
        .cio-treaction-color{
            background-color: #7abe73 !important;
        }

    </style>    

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Survey</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">{{ details.acc_name }} </span>

        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
        
            <!--begin:Back to campaigns -->
            <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/campaigns/draft"><i class="la la-angle-left"></i>Back to Campaigns</a>
            <!--end:Back to campaigns -->
           
           </div>
       </div>            
    </div>
            
    {# Collect details for URL's#}   
    {% set c_set = survey %}     
    {% set camp_id = survey.camp_id %}
    {% set acc_id = survey.acc_id  %}
    {% set survey = survey.details %}
    {% set sury_details = survey.desc %}
    {% set survey_id = sury_details.id %}
    {% set sury_questions = survey.questions %}  

    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->


            <!--Begin:: App Aside-->
            {{ include('/campaign_settings/leftmenu.twig') }}     

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Survey <small>Integrate Survey to a Campaign</small></h3>
                                </div>
                            </div>
                            <form class="kt-form kt-form--label-right" method="post" enctype="multipart/form-data" id="form-survey">
                                <div id="survey">

                                    <!-- Survey Description -->
                                    <div class="kt-portlet__body"> 
                                        <div class="kt-section kt-section--first"> 
                                            <div class="form-group">

                                                <!-- Survey Description -->
                                                <div class="form-row">  
                                                    <div class="col-md-12 ">
                                                        <input type="textarea" class="form-control input-sm"  name="survey[description]" placeholder="Survey description" required>
                                                        <i class="form-group__bar"></i>                                                
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-row">

                                                    <!--Survey is Online or Offline -->
                                                    <div class="col-md-6 kt-hide">
                                                        <select class="select form-control"  name="survey[is_online]" style="width:100%;">
                                                            <option value="1" selected >Online</option>
                                                            <option value="0" >Offline</option>                                                    
                                                        </select>
                                                    </div>

                                                    <!--Survey Layout Design -->
                                                    <div class="col-md-6">
                                                        <select class="select form-control"  name="survey[layout_status_id]" style="width:100%;">
                                                            <option value = "0" selected disabled>Survey Layout</option>
                                                            <option value="11" >Carosal</option>
                                                            <option value="12" >Single Page</option>                                                    
                                                        </select>
                                                    </div>

                                                </div> 
                                            </div>  
                                        </div>
                                    </div>   

                                    <!--  Question Number 1  -->
                                    <div class="kt-portlet__body survey_card">  
                                        <input type="number" value="0" name="survey[question][1][predecessor_id]" hidden>
                                        <div class=""> 
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="col-md-9 ">
                                                        <div class="form-row">
                                                            <div class="col-md-1">
                                                                <input type="number" class="form-control" value="1" name="survey[question][1][id]" class="ques-id"  placeholder="Question order id">
                                                            </div>
                                                            <div class="col-md-11">
                                                                <input type="text" class="form-control input-sm"  name="survey[question][1][text]" placeholder="Question" required>
                                                                <i class="form-group__bar"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 ">
                                                        <select class="select form-control select_question_type"  name="survey[question][1][type]" id="select_question_type" style="width:100%;" required>
                                                            <option value="#"  selected disabled >Select Question Type</option>
                                                            <option value="checkbox" >Multiple Choice</option>
                                                            <option value="select" >Dropdown</option>
                                                            <option value="range" >Slider</option>
                                                            <option value="textarea" >Single Textbox</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div> 

                                            <!--Hint for Question-->
                                            <div class="form-group">
                                                <input type="text" class="form-control"  name="survey[question][1][hint]" placeholder="Hint">
                                                <i class="form-group__bar"></i>
                                            </div>   

                                            <!--Expected Answer for Input field-->
                                            <div class="form-group answerfield" id="answer_text">
                                                <input type="text" class="form-control" name="survey[question][1][textarea][options][1][value]"  placeholder="Answer">
                                                <i class="form-group__bar"></i>
                                            </div>                                                                                           


                                            <!--Expected Answer for Single choice-->
                                            <div class="form-group answerfield" id="answer_select">  
                                                <div class="form-group">
                                                    <div class="form-row">

                                                        <!--Input field for Select Option -->
                                                        <div class="col-md-6">                                                
                                                            <input type="text" class="form-control select_option" id="select_option_1" name="survey[question][1][select][options][1][value]" placeholder="Options for Dropdown">
                                                            <i class="form-group__bar"></i>
                                                            <br>
                                                            <!--File Upload -->
                                                            <input type="hidden" name="MAX_FILE_SIZE" value="1000000"/>
                                                            <input type="file" name="survey[question][1][select][options][1][link_ref]" accept="image/*" />
                                                        </div>
  
                                                        <!--Branching Question -->
                                                        <div class="col-sm-2"><input type="number" class="form-control survey_1_options_goto"  id="survey_1_options_goto" name="survey[question][1][select][options][1][goto]" placeholder="Branching Question Number"></div>
  
                                                        <!--Radio button for Right button-->
                                                        <div class="col-sm-2 d-flex justify-content-around"> 

                                                            <label class="kt-radio kt-radio--solid kt-radio--success">
                                                                <input type="radio" name="survey[question][1][select][options][1][status]" value="WAHR" checked>Right
                                                                <span class="cio-treaction-color"></span>
                                                            </label>    

                                                            <label class="kt-radio kt-radio--solid kt-radio--success">
                                                                <input type="radio" name="survey[question][1][select][options][1][status]" value="FALSCH" checked>Wrong
                                                                <span class="cio-treaction-color"></span>
                                                            </label>                  

                                                        </div>

                                                        <!--Add Option Button-->
                                                        <div class="col-sm-2">
                                                            <button class="btn btn-secondary float-right add_option " id="addoption_1"  name="survey[question][1][select][add_option]" type="button" id="add_option"> + Add Option</button>
                                                        </div>
                                                    </div>    
                                                </div> 
                                            </div> 

                                            <!--Answer for Multiple choice-->
                                            <div class="form-group answerfield" id="answer_checkbox">
                                                <div class="form-group">
                                                    <div class="form-row">

                                                        <!--Input field for Multiple Choice Option -->
                                                        <div class="col-sm-6"> 
                                                            <input type="text" class="form-control checkbox_option"  id="checkbox_option"  name="survey[question][1][checkbox][options][1][value]" placeholder="Options for Multiple Choice">
                                                            <i class="form-group__bar"></i>
                                                            <br>
                                                            <!--File Upload -->
                                                            <input type="hidden" name="MAX_FILE_SIZE" value="1000000"/>
                                                            <input type="file" name="survey[question][1][checkbox][options][1][link_ref]" accept="image/*" />
                                                        </div> 
                                                        <div class="col-sm-2"><input type="number" class="form-control survey_1_options_goto"  id="survey_1_options_goto" name="survey[question][1][checkbox][options][1][goto]" placeholder="Branching Question Number"></div>
                                                        <div class="col-sm-2 d-flex justify-content-around"> 
                                                            <!--Radio button for Right button-->
                                                            <label class="kt-radio kt-radio--solid kt-radio--success">
                                                                <input type="radio" name="survey[question][1][checkbox][options][1][status]" value="WAHR" >  Right
                                                                <span class="cio-treaction-color"></span>
                                                            </label>    
                                                            <!--Radio button for Wrong button-->
                                                            <label class="kt-radio kt-radio--solid kt-radio--success">
                                                                <input type="radio" name="survey[question][1][checkbox][options][1][status]" value="FALSCH" >  Wrong
                                                                <span class="cio-treaction-color"></span>
                                                            </label>                                                   
                                                        </div>     

                                                        <!--Add Option Button-->
                                                        <div class="col-sm-2">
                                                            <button class="btn btn-secondary float-right add_checkbox"  id="addmultiplechoice_1"name="checkbox_option" type="button" id="add_option"> + Add Option</button>               
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>    

                                            <!--Answer for Slider-->
                                            <div class="form-group answerfield" id="answer_range">
                                                <div class="form-row">

                                                    <!-- Minimum Silder Value-->
                                                    <div class="col-md-3 ">
                                                        <input type="text" class="form-control" name="survey[question][1][range][options][1][min]" placeholder="Slider Minimum Value">
                                                        <i class="form-group__bar"></i>
                                                    </div>    

                                                     <!-- Max Silder Value-->
                                                    <div class="col-md-2 ">
                                                        <input type="text" class="form-control" name="survey[question][1][range][options][1][max]"  placeholder="Slider Maximum Value">
                                                        <i class="form-group__bar"></i>
                                                    </div> 

                                                     <!-- Right Silder Value-->
                                                    <div class="col-md-2 ">
                                                        <input type="text" class="form-control" name="survey[question][1][range][options][1][right]"  placeholder="Slider Right Value">
                                                        <i class="form-group__bar"></i>
                                                    </div> 

                                                    <!-- Step Silder Value-->   
                                                    <div class="col-md-2 ">
                                                        <input type="text" class="form-control" name="survey[question][1][range][options][1][step]"  placeholder="Slider Step Value">
                                                        <i class="form-group__bar"></i> 
                                                    </div>             

                                                     <!-- Initial Silder Value-->
                                                    <div class="col-md-3 "> 
                                                        <input type="text" class="form-control" name="survey[question][1][range][options][1][inital]"  placeholder="Slider Initial Value">
                                                        <i class="form-group__bar"></i>
                                                    </div>                                                    
                                                </div>    
                                            </div>     
                                        </div>
                                    </div>
                                </div>    

                                <div class="kt-portlet__foot">
                                    <div class="form-row">
                                        <div class="col-md-12 ">
                                            <div class="alert survey_error"  style ="background-color:rgba(0, 0, 0, 0.96) "role="alert"> This is a danger alert—check it out! </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 ">
                                            <button class="btn btn-brand btn-elevate kt-login__btn-primary" id="create_survey" name="submit" type="submit">Create Survey</button> 
                                        </div>
                                        <div class="col-md-6 float-right">
                                            <button class="btn btn-brand btn-elevate kt-login__btn-primary float-right" name="add_question" type="button" id="add_question"> + Add Question</button> 
                                        </div>
                                    </div>
                                </div>
                            </form>      
                        </div>
                    </div>     
                </div> 
            </div>   
        </div>
    </div>



{% endblock %}          

{% block javascripts %}    
    <script type="text/javascript">

        $('#survey').addClass("kt-widget__item--active");

        // Collect all the Question Ids to Array 
        var ques_ids = [];
        var div_ques_id = $(".ques-id");
        div_ques_id.each(function () {
            ques_ids.push(parseInt($(this).val()));
        });
        // Save array to Local Storage
        localStorage.setItem("ques-ids", ques_ids);
        var s = localStorage.getItem("ques-ids");
    
       

    </script>    
    <script type="text/javascript" src="https://dev-campaign-in-one.net/resources/js/survey/surveyFrontEnd.js"></script>
    <script type="text/javascript" src="https://dev-campaign-in-one.net/resources/js/survey/surveyBackEnd.js"></script>
{% endblock %}    