{% extends "app.twig" %}

{% block content %}



    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Settings General</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">{{ details.acc_name }} </span>

        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
        
            <!--begin:Back to campaigns -->
            <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/campaigns/draft"><i class="la la-angle-left"></i>Back to Campaigns</a>
            <!--end:Back to campaigns -->
           
           </div>
       </div>            
    </div>


    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <!--Begin:: App Aside-->
            {{ include('/campaign_settings/leftmenu.twig') }}     

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Flow Control <small>Basic Settings</small></h3>
                                </div>
                            </div>

                            <form class="kt-form kt-form--label-right" method="post" autocomplete="off">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Redirect &nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="If Setting is active Campaign will be redirected to bellow specified URL."><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set re_status = ""%}
                                                            {% if c_set.re_status ==  "on" %}
                                                                {% set re_status = "checked"%}
                                                            {% endif %}
                                                            <input type="checkbox"  {{re_status}} name="status">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div> 
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Redirect URL&nbsp;&nbsp;&nbsp; <a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Please specify the Redirect URL (eg. https://treaction.net/)."><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text" class="form-control" value="{{c_set.re_pg_url}}" name="re_pg_url" placeholder="https://treaction.net/" autocomplete="false">
                                                    <input type="text" class="form-control" value = "{{c_set.id}}" name="id" placeholder="This is for ID" autocomplete="false" hidden>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Redirection Time&nbsp;&nbsp;&nbsp; <a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Please specify the time in seconds to redirect to URL."><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text" class="form-control" value="{{c_set.re_time}}" name="re_time" placeholder="Redirect Time in seconds" autocomplete="false">
                                                    <input type="text" class="form-control" value = "{{c_set.id}}" name="id" placeholder="This is for ID" autocomplete="false" hidden>
                                                </div>
                                            </div>

                                            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Success Page&nbsp;&nbsp;&nbsp; <a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Please specify the Success Page URL (no relative path). This page is shown if the Lead registration is successfull."><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text" class="form-control" value="{{c_set.su_pg_url}}" name="su_pg_url" placeholder="https://treaction.campaign-in-one.de/master-client/redirect.php" autocomplete="false">
                                                    <input type="text" class="form-control" value = "{{c_set.id}}" name="id" placeholder="This is for ID" autocomplete="false" hidden>
                                                </div>
                                            </div> 

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Error Page&nbsp;&nbsp;&nbsp; <a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Please specify the Error Page URL (no relative path). This page is shown if the Lead registration is unsuccessfull."><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text" class="form-control" value="{{c_set.er_pg_url}}" name="er_pg_url" placeholder="https://treaction.campaign-in-one.de/master-client/error.php" autocomplete="false">
                                                    <input type="text" class="form-control" value = "{{c_set.id}}" name="id" placeholder="This is for ID" autocomplete="false" hidden>
                                                </div>
                                            </div>  

                                            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Survey Flow&nbsp;&nbsp;&nbsp; <a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Please specify if the Survey has to come before or after Lead registration."><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                {% if c_set.fl_cntrl_survey == "af_lead_reg" %}
                                                   {% set A = "selected" %}
                                                {% elseif  c_set.fl_cntrl_survey == "bf_lead_reg" %}
                                                    {% set B = "selected" %}
                                                 {% endif %}    
                                                <div class="col-lg-9 col-xl-6">
                                                    <select class="form-control kt-select2" name="fl_cntrl_survey" >
                                                        <option value="af_lead_reg" {{A}}>AfterLeadRegistration</option>
                                                        <option value="bf_lead_reg" {{B}}>BeforeLeadRegistration</option>
                                                    </select>
                                                </div>    
                                                <input type="text" class="form-control" value = "{{c_set.id}}" name="id" placeholder="This is for ID" autocomplete="false" hidden>
                                            </div>                                           
                                        </div>
                                    </div>
                                </div>

                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button type="submit" class="btn btn-brand btn-bold">Submit</button>&nbsp;
                                                <button type="reset" class="btn btn-secondary">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>    
                    </div>
                </div>     
            </div> 
        </div>   
    </div>
                                                                   

{% endblock %}          

{% block javascripts %}    
<script>
    $(function () {
        $('.cio-popover').popover({
            container: 'body',
            trigger : 'hover'
        })
  
        $('#menu-flowcontrol').addClass("show");
        $('#flow-basic').addClass("kt-widget__item--active");
    })
</script>
{% endblock %}